{% extends 'layout.html' %}

{% set page_icon = 'fas fa-server' %}

{% set title = 'Servers' %}

{% block meta_description %}Public Running With Rifles (RWR) servers list.{% endblock %}

{% block jsfiles %}
    {%- if request.args.get('view') == 'extended' -%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.min.js"></script>
        {% assets 'js_popovers' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {%- endif -%}
{% endblock %}

{% block cssfiles %}
    {%- if request.args.get('view') == 'extended' -%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.css">
    {%- endif -%}
{% endblock %}

{% set canonical_url = url_for('servers_list', _external=True) %}

{% set view_link_params = merge_query_string_params({'view': None if request.args.get('view') == 'extended' else 'extended'}) %}
{% set view_link_icon = 'compress' if request.args.get('view') == 'extended' else 'expand' %}
{% set view_link_text = 'normal' if request.args.get('view') == 'extended' else 'extended' %}

{% block content %}
    <form action="{{ url_for('servers_list') }}" method="GET" class="mts mbs txtcenter {{ 'w1140p center' if request.args.get('view') == 'extended' }}">
        <fieldset class="man">
            <legend><i class="fas fa-filter"></i> Filters</legend>

            <div>
                {{ macros.select('location', '(Any location)', locations) }}
                {{ macros.select('map', '(Any map)', maps) }}
                {{ macros.select('type', '(Any type)', types) }}
                {{ macros.select('mode', '(Any mode)', modes) }}
            </div>

            <div class="mts">
                {{ macros.checkbox('dedicated', 'Dedicated') }}
                {{ macros.checkbox('ranked', 'Ranked') }}
                {{ macros.checkbox('not_empty', 'Not empty') }}
                {{ macros.checkbox('not_full', 'Not full') }}
            </div>

            {% if 'view' in request.args -%}
                <input type="hidden" name="view" value="{{ request.args.get('view') }}">
            {%- endif %}

            <div class="mts">
                <button type="submit" class="mrm"><i class="fas fa-check"></i> Apply filters</button>
                <a href="{{ url_for('servers_list', **view_link_params) }}" class="btn"><i class="fas fa-{{ view_link_icon }}"></i> Switch to {{ view_link_text }} view</a>
            </div>
        </fieldset>
    </form>

    <div class="table-responsive">
        <table class="{{ 'striped clickable' if servers }} mbn servers-list {{ 'nowrap' if request.args.get('view') != 'extended' }}">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Current players</th>
                    <th>Max players</th>
                    {% if request.args.get('view') == 'extended' %}
                        <th>Bots</th>
                    {% endif %}
                    <th>Map</th>
                    <th>Type</th>
                    <th>Mode</th>
                    {% if request.args.get('view') == 'extended' %}
                        <th>Version</th>
                        <th>Message</th>
                        <th>Players</th>
                    {% endif %}
                    <th class="w150p"></th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr onclick="window.location.href = '{{ server.link }}';" class="{{ 'info' if current_user.is_authenticated and server.has_friends_from_user(current_user) }}">
                        <td>{{ macros.location(server.location) }} {{ macros.server_name(server, event_icon=True) }}</td>
                        <td class="{{ macros.server_slots_class(server) }}">{{ server.players.current }}</td>
                        <td>{{ server.players.max }}</td>
                        {% if request.args.get('view') == 'extended' %}
                            <td>{{ server.bots }}</td>
                        {% endif %}
                        <td>{{ server.map.name_display }}</td>
                        <td>{{ server.type_name }}</td>
                        <td>{{ server.mode_name }}</td>
                        {% if request.args.get('view') == 'extended' %}
                            <td>{{ server.version }}</td>
                            <td>{{ server.comment if server.comment }}</td>
                            <td>
                                {%- for player in server.players.list -%}
                                    {{ macros.player_name(player, raw=True, link=True, database=server.database, popover_url=True) }}{{ ', ' if not loop.last }}
                                {%- endfor -%}
                            </td>
                        {% endif %}
                        <td class="txtcenter">
                            {{ macros.server_join_button(server) }}

                            <a href="{{ server.link }}" class="btn" title="Details"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            <div class="alert info pas txtcenter">There isn't any server to display.</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {%- if request.args.get('view') == 'extended' -%}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                popoversFeature.initOnServersList();
            });
        </script>
    {%- endif -%}
{% endblock %}