/************************************************************************
 * Global styles */

body {
    color: #FFF;
    background-color: #292929;
}

.page {
    background-color: #3f3f3f;
    border-top: 0.1rem solid #514f4f;
    border-bottom: 0.1rem solid #514f4f;
}

.home > div:first-child {
    border-right: 0.1rem solid #514f4f;
}

h2 {
    background-color: #7da109;
    border: 0.1rem solid #9cc321;
    font-size: 2.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flag {
    vertical-align: middle;
}

.txtred {
    color: #f64242;
}

.txtorange {
    color: #f9b53a;
}

.txtgreen {
    color: #3dcf53;
}

.txtgrey {
    color: #BBB;
}

.txtyellow {
    color: #f5ea22;
}

.txtblue {
    color: #44b2f8;
}

.help {
    cursor: help;
}

/************************************************************************
 * Progress bar on the player stats page */

.progress-bar {
    background-color: #4A542C;
    position: relative;
    height: 4.2rem;
}

.progress-bar > .text {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar > .bar {
    background-color: #657B26;
    height: 4.2rem;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: #A4CF17;
}

a:hover,
a:focus {
    color: #A4CF17;
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Buttons */

button,
input[type="button"][type="submit"],
.btn,
.btn:visited {
    background-color: #606060;
    border: 0.1rem solid #727272;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

button:hover, button:focus, button.active,
.btn:hover, .btn:focus, .btn.active,
input[type="button"][type="submit"]:hover, input[type="button"][type="submit"]:focus, input[type="button"][type="submit"].active {
    color: #FFF;
    background-color: #7da109;
    border-color: #9cc321;
}

button[disabled],
input[type="button"][type="submit"][disabled],
.btn.disabled,
.btn.disabled:visited,
button[disabled]:hover, button[disabled]:focus,
.btn.disabled:hover, .btn.disabled:focus,
input[type="button"][type="submit"][disabled]:hover, input[type="button"][type="submit"][disabled]:focus {
    color: #6f6f6f;
    background-color: #545454;
    border-color: #5a5a5a;
    cursor: default;
}

/************************************************************************
 * Inputs */

button,
input[type="text"],
optgroup,
select,
textarea,
.btn {
    line-height: 1.5;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input[type="text"],
select,
textarea {
    border: 0.1rem solid #333;
}

/************************************************************************
 * Tables */

.table-responsive {
    overflow-x: auto;
}

table,
table td,
table th {
    border: 0.2rem solid #333;
    table-layout: auto;
    vertical-align: middle;
}

table td,
table th {
    padding: 0.4em;
}

table th {
    font-weight: bold;
    background-color: #4d4d4d;
}

table.striped tr:nth-child(even) td {
    background-color: #444;
}

table.striped tr:hover td {
    background-color: #4b4b4b;
}

table.clickable tr:hover td {
    cursor: pointer;
}

table tr.info td {
    background-color: #3b5162 !important;
}

table tr.info:hover td {
    background-color: #3b576c !important;
}

/************************************************************************
 * Alerts */

.alert {
    border: 0.1rem solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #415d33;
    color: #FFF;
    border-color: #507a47;
}

.alert.error {
    background-color: #692c2c;
    color: #FFF;
    border-color: #8d3535;
}

.alert.info {
    background-color: #30537b;
    color: #FFF;
    border-color: #296b95;
}

/************************************************************************
 * Footer */

footer {
    color: #a2a2a2;
}