/************************************************************************
 * Global styles */

body {
    color: #FFF;
    background-color: #292929;
}

.page {
    background-color: #3f3f3f;
    border-bottom: 0.1rem solid #514f4f;
}

.page {
    border-top: 0.1rem solid #514f4f;
}

h1, .h1-like {
    background-color: #7da109;
    border: 0.1rem solid #9cc321;
    font-size: 2.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

h2, .h2-like {
    font-size: 1.9rem;
}

.flag {
    vertical-align: middle;
}

.help {
    cursor: help;
}

[v-cloak] {
  display: none;
}

.me {
    background-color: #EEE;
    border-radius: 0.2em;
    padding: 0.1rem;
}

.no-bold {
    font-weight: normal;
}

.nowrap {
    white-space: nowrap;
}

img.bordered {
    border: .2rem solid #333;
}

/************************************************************************
 * Player stats page */

.unlockables-list {
    padding-bottom: 0;
}

.unlockables-list .locked {
    opacity: 0.2;
    filter: grayscale(100%);
}

.unlockables-list > div {
    background-color: #4d4d4d;
    margin-bottom: 0.4em;
    vertical-align: middle;
    float: left;
    margin-right: 0.4em;
}

.unlockables-list > div:last-child {
    margin-right: 0;
}

.unlockables-list.radio-calls > div {
    height: 64px;
}

.unlockables-list.weapons > div {
    height: 190px;
}

.unlockables-list.equipment > div {
    height: 150px;
}

.unlockables-list.throwables > div {
    height: 85px;
}

.progress-bar {
    background-color: #4A542C;
    position: relative;
    height: 4.2rem;
}

.progress-bar > .text {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar > .bar {
    background-color: #657B26;
    height: 4.2rem;
}

/************************************************************************
 * Online status page */

.servers-list thead:hover th {
    cursor: pointer;
}

/************************************************************************
 * Tabs */

.tabs {
    border-bottom: 0.2rem solid #333;
    background-color: #444;
}

.tabs li a,
.tabs li a:visited {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-top: 0.2rem solid #333;
    border-left: 0.2rem solid #333;
    border-right: 0.2rem solid #333;
}

.tabs li a:hover,
.tabs li a:focus {
    background-color: #606060;
    border-color: #333;
}

.tabs li.active a {
    background-color: #7da109;
    border-color: #9cc321;
}

/************************************************************************
 * Text colors */

.txtred {
    color: #f64242;
}

.txtorange {
    color: #f9b53a;
}

.txtgreen {
    color: #3dcf53;
}

.txtgrey {
    color: #BBB;
}

.txtyellow {
    color: #f5ea22;
}

.txtblue {
    color: #44b2f8;
}

.txtgraphgreen {
    color: #A4CF17;
}

.txtgraphblue {
    color: #44b2f8;
}

.txtred a,
.txtred a:visited,
.txtred a:hover,
.txtred a:focus {
    color: inherit;
}

/************************************************************************
 * Header */

header {
    display: table;
}

header > * {
    display: table-cell;
    vertical-align: middle;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: #A4CF17;
}

a:hover,
a:focus {
    color: #A4CF17;
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Buttons */

a.btn,
a.btn:visited,
a.btn:hover,
a.btn:focus {
    text-decoration: none;
}

button,
input[type="button"], input[type="submit"],
.btn,
.btn:visited {
    background-color: #606060;
    border: 0.1rem solid #727272;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0;
    color: #FFF;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
}

button:hover, button:focus, button.active,
.btn:hover, .btn:focus, .btn.active,
input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus,
input[type="button"].active, input[type="submit"].active {
    background-color: #7da109;
    border-color: #9cc321;
    color: #FFF;
}

button[disabled],
input[type="button"][type="submit"][disabled],
.btn.disabled,
.btn.disabled:visited,
button[disabled]:hover, button[disabled]:focus,
.btn.disabled:hover, .btn.disabled:focus,
input[type="button"][type="submit"][disabled]:hover, input[type="button"][type="submit"][disabled]:focus {
    color: #6f6f6f;
    background-color: #545454;
    border-color: #5a5a5a;
    cursor: default;
}

/************************************************************************
 * Inputs */

button,
input[type="text"], input[type="url"], input[type="number"], input[type="file"],
optgroup,
select,
textarea,
.btn {
    line-height: 1.5;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0;
}

input[type="text"], input[type="url"], input[type="number"], input[type="file"],
select,
textarea {
    border: 0.1rem solid #333;
}

textarea.copypaste {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    font-family: Consolas, Courier, monospace;
    font-size: 1.2rem;
}

/************************************************************************
 * Tables */

table,
table td,
table th {
    border: 0.2rem solid #333;
    table-layout: auto;
    vertical-align: middle;
}

table td,
table th {
    padding: 0.4em;
}

table th {
    font-weight: bold;
    background-color: #4d4d4d;
}

table.striped tr:nth-child(even) td {
    background-color: #444;
}

table.striped tr:hover td {
    background-color: #4b4b4b;
}

table.clickable tr:hover td {
    cursor: pointer;
}

table tr.info td {
    background-color: #3b5162 !important;
}

table tr.info:hover td {
    background-color: #3b576c !important;
}

table tr.notice td {
    background-color: #505737 !important;
}

table tr.notice:hover td {
    background-color: #545d3b !important;
}

table tr .actions {
    display: none;
}

table tr:hover .actions {
    display: inline-block;
}

/************************************************************************
 * Forms */

fieldset {
    background-color: #444;
    border: 0.2rem solid #333;
}

label {
    margin: 0;
}

/************************************************************************
 * Alerts */

.alert {
    border: 0.1rem solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #415d33;
    color: #FFF;
    border-color: #507a47;
}

.alert.error {
    background-color: #692c2c;
    color: #FFF;
    border-color: #8d3535;
}

.alert.info {
    background-color: #3b618d;
    color: #FFF;
    border-color: #3985b6;
}

/************************************************************************
 * Top bar */

.top-bar a,
.top-bar a:visited,
.top-bar a:hover,
.top-bar a:focus {
    color: inherit;
}

.top-bar.yellow {
    background-color: #e9b700;
    color: #000;
    border-bottom: 0.1rem solid #ffcd15;
}

.top-bar.blue {
    background-color: #3b618d;
    color: #FFF;
    border-bottom: 0.1rem solid #3985b6;
}

.top-bar.grey {
    background-color: #3f3f3f;
    color: #FFF;
    border-bottom: 0.1rem solid #514f4f;
}

.top-bar.green {
    background-color: #7da109;
    color: #FFF;
    border-bottom: 0.1rem solid #9cc321;
}

.top-bar.main .content {
    width: 100%;
    display: table;
}

.top-bar.main .content > * {
    display: table-cell;
    vertical-align: middle;
}

.top-bar.main .inbl {
    vertical-align: middle;
}

.top-bar.main abbr {
    font-weight: bold;
}

/************************************************************************
 * Charts */

.mg-histogram .axis text, .mg-x-axis text, .mg-y-axis text {
    fill: #fff;
    opacity: 1;
    font-size: 1.2rem;
}

.mg-x-axis line.mg-extended-xax-ticks, .mg-y-axis line.mg-extended-yax-ticks {
    opacity: 1;
    stroke: #333;
}

.mg-active-datapoint {
    font-size: 1.2rem;
    fill: #fff;
}

.mg-missing-text {
    fill: #fff;
    font-size: 1.5rem;
}

.mg-missing-pane .mg-main-line {
    stroke: #A4CF17;
}

.mg-missing-pane .mg-main-area {
    fill: #A4CF17;
}

.mg-missing-pane .mg-missing-background {
    display: none;
}

/************************************************************************
 * Date picker */

.pika-next, .pika-prev {
    border-width: 0.1rem;
    border-style: solid;
}

.pika-table th {
    color: #fff;
}

.pika-button {
    color: #292929;
    border-radius: 0;
}

.pika-button:hover {
    background-color: #7da109;
    border-radius: 0;
}

.is-disabled .pika-button {
    color: #4d4d4d;
}

.has-event .pika-button, .is-selected .pika-button {
    background-color: #44b2f8;
}

.has-event .pika-button, .is-selected .pika-button {
    border-radius: 0;
}

/************************************************************************
 * Footer */

footer {
    color: #a2a2a2;
    display: table;
}

footer > * {
    display: table-cell;
    vertical-align: top;
}

footer a,
footer a:visited {
    color: inherit;
}

footer a:hover,
footer a:focus {
    color: #dbd8d8;
}