{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fa fa-user"></i> Players › {{ player.database_name }} › {{ macros.player_name(player) }}{% if request.view_args.get('tab') == 'unlockables' %} › Unlockables{% endif %}{% if player_to_compare_with %} (Comparison with {{ macros.player_name(player_to_compare_with) }}){% endif %}</h1>{% endblock %}

{% block meta_title %}Players › {{ player.database_name }} › {{ player.username }}{% if request.view_args.get('tab') == 'unlockables' %} › Unlockables{% endif %}{% if player_to_compare_with %} (Comparison with {{ player_to_compare_with.username }}){% endif %}{% endblock %}

{% block meta_description -%}
    {% if request.view_args.get('tab') == 'unlockables' -%}
        Items unlocked by {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- else -%}
        Player statistics of {{ player.username }}{{ ', compared to ' + player_to_compare_with.username + ',' if player_to_compare_with }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- endif %}
{%- endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('player_details', database=request.view_args.get('database'), username=player.username, tab=request.view_args.get('tab'), _external=True) %}

{% block content %}
    <div class="mtm">
        <form method="get" action="{{ url_for('players_compare', database=request.view_args.get('database'), username=player.username) }}" class="inbl fl">
            <input type="text" name="username_to_compare_with" placeholder="Type a player name" required> <button type="submit"><i class="fa fa-files-o"></i> Compare players</button>
        </form>

        <div class="inbl fr">
            <a href="{{ url_for('players_list', database=request.view_args.get('database'), target=player.username) }}" class="btn"><i class="fa fa-list-ol"></i> Highlight in {{ player.database_name }} leaderboard</a>
            <a href="#" class="btn add-friend is-hidden"><i class="fa fa-user-plus"></i> Add to friends list</a>
            <a href="#" class="btn remove-friend is-hidden"><i class="fa fa-user-times"></i> Remove from friends list</a>
        </div>

        <div class="clearfix"></div>
    </div>

    <nav class="tabs mtm mbm pls prs pts">
        <ul class="unstyled">
            <li class="inbl prs {{ 'active' if not request.view_args.get('tab') }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username) }}" class="inbl pas"><i class="fa fa-calculator"></i> Stats</a></li>
            <li class="inbl prs {{ 'active' if request.view_args.get('tab') == 'unlockables' }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='unlockables') }}" class="inbl pas"><i class="fa fa-unlock"></i> Unlockables</a></li>
        </ul>
    </nav>

    {% if not request.view_args.get('tab') %}
        {% include 'player_details/stats.html' %}
    {% elif request.view_args.get('tab') == 'unlockables' %}
        {% include 'player_details/unlockables.html' %}
    {% endif %}

    <p class="txtcenter mbs">
        <a href="{{ url_for('players_list', database=request.view_args.get('database')) }}" class="btn"><i class="fa fa-chevron-left"></i> Back to the {{ player.database_name }} players list</a>
    </p>

    {{ macros.stats_notice() }}

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.player = '{{ player.username }}';
        friendsFeature.initOnPlayerDetails();
    </script>
{% endblock %}