<p>Highlight this player everywhere by putting this signature on your website / blog / forum. It features information about the player, updated once a day.</p>

<p class="txtcenter mbs">
    <img src="{{ url_for('dynamic_player_image', database=request.view_args.get('database'), username=player.username) }}">
</p>

<div class="grid has-gutter">
    <div>
        <fieldset class="man pan">
            <legend class="mls">HTML code <small>(websites / blogs)</small></legend>
            <textarea readonly spellcheck="false" class="copypaste" rows="3" onClick="this.setSelectionRange(0, this.value.length)">&lt;a href=&quot;{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, _external=True) }}&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;{{ url_for('dynamic_player_image', database=request.view_args.get('database'), username=player.username, _external=True) }}&quot; border=&quot;0&quot;/&gt;&lt;/a&gt;</textarea>
        </fieldset>
    </div>
    <div>
        <fieldset class="man pan">
            <legend class="mls">BBCode <small>(forums / Steam)</small></legend>
            <textarea readonly spellcheck="false" class="copypaste" rows="3" onClick="this.setSelectionRange(0, this.value.length)">[url={{ url_for('player_details', database=request.view_args.get('database'), username=player.username, _external=True) }}][img]{{ url_for('dynamic_player_image', database=request.view_args.get('database'), username=player.username, _external=True) }}[/img][/url]</textarea>
        </fieldset>
    </div>
</div>

<p class="txtcenter mbs">
    <a href="{{ url_for('players_list', database=request.view_args.get('database')) }}" class="btn"><i class="fa fa-chevron-left"></i> Back to the {{ player.database_name }} players list</a>
</p>

<script>
    friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
    friendsFeature.initOnPlayerDetails();
</script>