{% if player.leaderboard_position > config['MAX_NUM_OF_PLAYERS_TO_TRACK_STATS_FOR'] -%}
    <p class="alert info pas">Statistics history for this player is no more being tracked as he/she's no more part of the {{ config['MAX_NUM_OF_PLAYERS_TO_TRACK_STATS_FOR'] }} most experienced players of the {{ player.database_name }} leaderboard.</p>
{% endif -%}

<table class="{{ 'striped' if stats.items }} mbn">
    <thead>
        <tr>
            <th class="w150p">Date</th>
            <th>Leaderboard position</th>
            <th>XP</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>K/D ratio</th>
            <th>Score</th>
            <th>Time played</th>
            <th>Longest kill streak</th>
            <th>Targets destroyed</th>
            <th>Distance moved</th>
            <th>Vehicles destroyed</th>
            <th>Soldiers healed</th>
            <th>Teamkills</th>
            <th>Shots fired</th>
            <th>Throwables thrown</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats.items %}
            <tr>
                <td>{{ stat.created_at.format('MMMM D, YYYY') }}</td>
                <td>{{ stat.leaderboard_position_display }}</td>
                <td>{{ stat.xp_display }}</td>
                <td>{{ stat.kills_display }}</td>
                <td>{{ stat.deaths_display }}</td>
                <td class="{{ 'txtred' if stat.kd_ratio < 1 else 'txtgreen' }}">{{ stat.kd_ratio }}</td>
                <td class="{{ 'txtred' if stat.score < 0 else 'txtgreen' }}">{{ stat.score_display }}</td>
                <td>{{ stat.time_played_display }}</td>
                <td>{{ stat.longest_kill_streak_display }}</td>
                <td>{{ stat.targets_destroyed_display }}</td>
                <td>{{ stat.distance_moved }}km</td>
                <td>{{ stat.vehicles_destroyed_display }}</td>
                <td>{{ stat.soldiers_healed_display }}</td>
                <td>{{ stat.teamkills_display }}</td>
                <td>{{ stat.shots_fired_display }}</td>
                <td>{{ stat.throwables_thrown_display }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">
                    <div class="alert info pas txtcenter">There isn't any stats to display.</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="grid mts w1140p center">
    <div>
        {% if stats.has_prev %}
            <a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='stats-history', page=stats.prev_num) }}" class="btn"><i class="fa fa-angle-double-left"></i> Previous</a>
        {% endif %}
    </div>
    <div>
        <p class="txtcenter mbs">
            <a href="{{ url_for('players_list', database=request.view_args.get('database')) }}" class="btn"><i class="fa fa-chevron-left"></i> Back to the {{ player.database_name }} players list</a>
        </p>
    </div>
    <div class="txtright">
        {% if stats.has_next %}
            <a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='stats-history', page=stats.next_num) }}" class="btn">Next <i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </div>
</div>

{{ macros.stats_notice() }}