{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-exclamation-triangle"></i> Server error</h1>{% endblock %}

{% block meta_title %}Server error{% endblock %}

{% block content %}
    <p class="alert error pas">A server error occured! Please retry. If the error persists, please report an issue either <a href="http://www.runningwithrifles.com/phpBB3/viewtopic.php?f=12&t=3376">in this RWR forum topic</a> or <a href="https://steamcommunity.com/app/270150/discussions/0/1520386297704428050/">in this Steam discussions topic</a>.</p>
{% endblock %}