{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-shopping-cart"></i> Market</h1>{% endblock %}

{% block meta_title %}Market{% endblock %}

{% block meta_description %}Buy and sell Running With Rifles items on ranked (official) servers.{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('market_home', _external=True) %}

{% block content %}
    <p class="mtm txtcenter">Welcome to the RWRS Market, the one stop RWR items shop on official (ranked) servers!</p>

    <p class="mtm mbm txtcenter big">{% if current_user.is_authenticated %}{%if current_user.has_rwr_accounts %}<a class="btn mrm bigger" href="{{ url_for('market_place_ad') }}">Place an ad</a>{% else %}<a class="btn mrm bigger" href="{{ url_for('player_claim') }}">Claim an RWR account to place an ad!</a>{% endif %}{% else %}<a class="btn mrm bigger" href="{{ url_for('sign_in', next=url_for('market_place_ad')) }}">Sign-in to place an ad!</a>{% endif %}</p>

    <form action="{{ url_for('market_home') }}" method="GET" class="mts mbs">
        <fieldset class="man">
            <legend><i class="fas fa-filter"></i> Filters</legend>

            <button type="submit" class="fr"><i class="fas fa-check"></i> Apply</button>
        </fieldset>
    </form>

    {%- if ads.items -%}
        <div class="grid-3 has-gutter">
            {%- for market_ad in ads.items -%}
                <div class="mbs">
                    <div class="grid has-gutter">
                        <div class="one-third">
                            <a href="{{ market_ad.link }}"><img src="https://placekitten.com/100/150" class="bordered"></a>
                        </div>
                        <div class="two-third">
                            <div><h2 class="mbn"><a href="{{ market_ad.link }}">{{ market_ad.item_id }}</a>{% if market_ad.quantity > 1 %} x{{ market_ad.quantity }}{% endif %}</h2></div>
                            <div><strong>{%- if not market_ad.is_free %}{{ market_ad.total_price_display }} RP{% elif market_ad.type.value == 'OFFER' %}FREE{% endif %}</strong>{%- if not market_ad.is_free and market_ad.quantity > 1 %} <small class="txtgrey">{{ market_ad.unit_price_display }} RP each</small>{% endif -%}</div>
                            <div class="small txtgrey mts">{{ market_ad.rwr_account.type_display }} / Assault Rifles</div>
                            <div class="small txtgrey">{{ market_ad.created_at.humanize() }}</div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    {%- else -%}
        <div class="alert info pas">Nothing to display at this moment.</div>
    {%- endif -%}

    {%- if ads.pages -%}
        <div class="grid">
            <div class="one-fifth txtleft">
                {%- if ads.page > 1 -%}
                    <a href="{{ url_for('market_home', page=1, limit=request.args.get('limit')) }}" class="btn mrs"><i class="fas fa-angle-double-left"></i> First</a>
                {%- endif -%}
                {%- if ads.has_prev -%}
                    <a href="{{ url_for('market_home', page=ads.prev_num, limit=request.args.get('limit')) }}" class="btn"><i class="fas fa-angle-left"></i> Previous</a>
                {%- endif -%}
            </div>
            <div class="three-fifth txtcenter">Page {{ ads.page }} of {{ ads.pages }}</div>
            <div class="one-fifth txtright">
                {%- if ads.has_next -%}
                    <a href="{{ url_for('market_home', page=ads.next_num, limit=request.args.get('limit')) }}" class="btn">Next <i class="fas fa-angle-right"></i></a>
                {%- endif -%}
                {%- if ads.page < ads.pages -%}
                    <a href="{{ url_for('market_home', page=ads.pages, limit=request.args.get('limit')) }}" class="btn mls"><i class="fas fa-angle-double-right"></i> Last</a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}