{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-shopping-cart"></i> Market</h1>{% endblock %}

{% block meta_title %}Market{% endblock %}

{% block meta_description %}The RWRS Market is a place where you can buy and sell Running With Rifles items on ranked (official) servers.{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('market_home', _external=True) %}

{% block content %}
    <p class="mtm txtcenter">Welcome to the RWRS Market, the one stop RWR items shop!</p>

    <p class="mtm mbm txtcenter big"><a class="btn mrm" href="{{ url_for('market_ad_list', ad_type='offers') }}">Offers</a> {% if current_user.is_authenticated %}{%if current_user.has_rwr_accounts %}<a class="btn mrm bigger" href="{{ url_for('market_place_ad') }}">Place an ad</a>{% else %}<a class="btn mrm bigger" href="{{ url_for('player_claim') }}">Claim an RWR account to place an ad!</a>{% endif %}{% else %}<a class="btn mrm bigger" href="{{ url_for('sign_in', next=url_for('market_place_ad')) }}">Sign-in to place an ad!</a>{% endif %} <a class="btn" href="{{ url_for('market_ad_list', ad_type='requests') }}">Requests</a></p>

    <div class="grid has-gutter">
        <div>
            <table class="mbn">
                <thead>
                    <tr>
                        <th><h2 class="mbn">Latest offers <a href="#" title="Latest offers RSS feed"><i class="fas fa-rss-square"></i></a></h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="{{ 'pbn' if latest_offers }}">
                            {%- if latest_offers -%}
                                <div class="grid-4 has-gutter">
                                    {%- for latest_offer in latest_offers -%}
                                        {{ macros.market_ad_small(latest_offer) }}
                                    {%- endfor -%}
                                </div>
                            {%- else -%}
                                <div class="alert info pas">Nothing to display at this moment.</div>
                            {%- endif -%}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="mbn">
                <thead>
                    <tr>
                        <th><h2 class="mbn">Latest requests <a href="#" title="Latest requests RSS feed"><i class="fas fa-rss-square"></i></a></h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="{{ 'pbn' if latest_requests }}">
                            {%- if latest_requests -%}
                                <div class="grid-4 has-gutter">
                                    {%- for latest_request in latest_requests -%}
                                        {{ macros.market_ad_small(latest_request) }}
                                    {%- endfor -%}
                                </div>
                            {%- else -%}
                                <div class="alert info pas">Nothing to display at this moment.</div>
                            {%- endif -%}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}