{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-shopping-cart"></i> Market › {{ ad_type }}</h1>{% endblock %}

{% block meta_title %}Market › {{ ad_type }}{% endblock %}

{% block meta_description %}{% if type == 'offers' %}Buy Running With Rifles items on the RWRS Market.{% else %}Tell everyone what Running With Rifles items you are looking for on the RWRS Market.{% endif %}{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('market_ads', ad_type=ad_type, _external=True) %}

{% block content %}
    TODO {{ ad_type }}

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}