{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-user-check"></i> Players › Claim RWR account</h1>{% endblock %}

{% block meta_title %}Players › Claim RWR account{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="grid has-gutter mtm mbm">
        <div>
            <p>Claiming RWR accounts is <strong>required</strong> to enable additional features such as the Market.</p>
            <p>You'll need to go through the claim procedure once per RWR account you want to claim. It's only one step long and prevents anybody to usurp any RWR account.</p>
            <p>Before starting the procedure, <strong>be sure the account you're about to claim is currently <u>not</u> connected on any ranked (official) RWR server</strong>.</p>
            <p>Once the claim procedure has been initiated, you'll have <strong>{{ config['PLAYER_CLAIM_DELAY'] }} minutes</strong> to join a ranked (official) server to finally claim the desired RWR account.</p>
        </div>
        <div>
            <form method="post" action="{{ url_for('player_claim') }}" class="ptm">
                <fieldset class="man pam">
                    {{ form.csrf_token }}

                    {{ macros.form_field(form.type, class="w200p") }}
                    {{ macros.form_field(form.username, class="w200p") }}

                    <p class="txtcenter mtm"><button type="submit" class="big"><i class="fa fa-chevron-right"></i> Start!</button></p>
                </fieldset>
            </form>
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}