{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-user-check"></i> Players › Claim account</h1>{% endblock %}

{% block meta_title %}Players › Claim account{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="grid has-gutter mtm mbm">
        <div>
            <p>This procedure to prevent anybody to claim any RWR account</p>
            <p>You will do this only once per RWR account</p>
            <p>Be sure the account you're about to claim is currently <strong>not</strong> used on any ranked (official) RWR server</p>
            <p>Once the claim procedure has been initiated, you'll have <strong>X minutes</strong> to join a ranked <strong>(Pacifc|Invasion)</strong> server to finally claim your RWR account</p>
        </div>
        <div>
            <form method="post" action="{{ url_for('player_claim') }}">
                <fieldset class="man pam">
                    {{ form.csrf_token }}

                    {{ macros.form_field(form.type, class="w200p") }}
                    {{ macros.form_field(form.username, class="w200p") }}

                    <p class="txtcenter mtm"><button type="submit" class="big"><i class="fa fa-chevron-right"></i> Go!</button></p>
                </fieldset>
            </form>
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}