{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-user"></i> Players › {{ player.database_name }} › {{ macros.player_name(player) }}{% if request.view_args.get('tab') == 'unlockables' %} › Unlockables{% elif request.view_args.get('tab') == 'stats-history' %} › Statistics history{% elif request.view_args.get('tab') == 'evolution' %} › Evolution{% elif request.view_args.get('tab') == 'signature' %} › Signature{% endif %}</h1>{% endblock %}

{% block meta_title %}Players › {{ player.database_name }} › {{ player.username }}{% if request.view_args.get('tab') == 'unlockables' %} › Unlockables{% elif request.view_args.get('tab') == 'stats-history' %} › Statistics history{% elif request.view_args.get('tab') == 'evolution' %} › Evolution{% elif request.view_args.get('tab') == 'signature' %} › Signature{% endif %}{% endblock %}

{% block meta_description -%}
    {% if request.view_args.get('tab') == 'unlockables' -%}
        Items unlocked by {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- elif request.view_args.get('tab') == 'stats-history' -%}
        Statistics history of {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- elif request.view_args.get('tab') == 'evolution' -%}
        Charts about the stats evolution of {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- elif request.view_args.get('tab') == 'signature' -%}
        Get a signature to include in your website / blog / forum for {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- else -%}
        Player statistics of {{ player.username }} on Running With Rifles (RWR) {{ player.database_name }} ranked servers.
    {%- endif %}
{%- endblock %}

{% block jsfiles %}
    {% if request.view_args.get('tab') == 'evolution' -%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.js"></script>
    {%- endif -%}

    {%- if request.view_args.get('tab') == 'evolution' -%}
        {% assets 'js_friends_charts' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {%- else -%}
        {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {%- endif %}
{% endblock %}

{% block cssfiles %}
    {% if request.view_args.get('tab') == 'evolution' -%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.css">
    {%- endif %}
{% endblock %}

{% set canonical_url = url_for('player_details', database=request.view_args.get('database'), username=player.username, tab=request.view_args.get('tab'), _external=True) %}

{% set meta_image = player.rank.image_absolute %}

{% block content %}
    <div class="mts w1140p center">
        <form method="get" action="{{ url_for('players_compare', database=request.view_args.get('database'), username=player.username) }}" class="inbl fl">
            <input type="text" name="username_to_compare_with" placeholder="Type a player name" required> <button type="submit"><i class="fas fa-copy"></i> Compare players</button>
        </form>

        <div class="inbl fr">
            <a href="{{ url_for('players_list', database=request.view_args.get('database'), target=player.username) }}" class="btn"><i class="fas fa-list-ol"></i> Highlight in {{ player.database_name }} leaderboard</a>
            <a href="#" class="btn add-friend is-hidden" data-username="{{ player.username }}"><i class="fas fa-user-plus"></i> Add to friends list</a>
            <a href="#" class="btn remove-friend is-hidden" data-username="{{ player.username }}"><i class="fas fa-user-times"></i> Remove from friends list</a>
        </div>

        <div class="clearfix"></div>
    </div>

    <nav class="tabs mtm mbm pls prs pts">
        <ul class="unstyled">
            <li class="inbl prs {{ 'active' if not request.view_args.get('tab') }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username) }}" class="inbl pas"><i class="fas fa-calculator"></i> Stats</a></li>
            {% if player.has_stats %}
                <li class="inbl prs {{ 'active' if request.view_args.get('tab') == 'stats-history' }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='stats-history') }}" class="inbl pas"><i class="fas fa-calendar-alt"></i> Stats history</a></li>
                <li class="inbl prs {{ 'active' if request.view_args.get('tab') == 'evolution' }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='evolution') }}" class="inbl pas"><i class="fas fa-chart-line"></i> Evolution</a></li>
            {% endif %}
            <li class="inbl prs {{ 'active' if request.view_args.get('tab') == 'signature' }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='signature') }}" class="inbl pas"><i class="fas fa-image"></i> Signature</a></li>
            <li class="inbl prs {{ 'active' if request.view_args.get('tab') == 'unlockables' }}"><a href="{{ url_for('player_details', database=request.view_args.get('database'), username=player.username, tab='unlockables') }}" class="inbl pas"><i class="fas fa-unlock-alt"></i> Unlockables</a></li>
        </ul>
    </nav>

    {% if not request.view_args.get('tab') %}
        {% include 'players/details/stats.html' %}
    {% elif request.view_args.get('tab') == 'stats-history' %}
        {% include 'players/details/stats_history.html' %}
    {% elif request.view_args.get('tab') == 'unlockables' %}
        {% include 'players/details/unlockables.html' %}
    {% elif request.view_args.get('tab') == 'evolution' %}
        {% include 'players/details/evolution.html' %}
    {% elif request.view_args.get('tab') == 'signature' %}
        {% include 'players/details/signature.html' %}
    {% endif %}

    <div class="alert info pas mts"><i class="fas fa-user-check mrs"></i>
        {%- if player.user -%}
            This account is owned by <a href="{{ player.user.link }}">{{ player.user.steam_username }}</a>.
        {%- elif not player.user and current_user.is_authenticated -%}
            <a href="{{ url_for('player_claim', type=player.database, username=player.username) }}">Claim this account now</a> to enable additional features.
        {%- elif not player.user and not current_user.is_authenticated -%}
            <a href="{{ url_for('sign_in', next=url_for('player_claim', type=player.database, username=player.username)) }}">Sign-in</a> to claim this account and access additional features.
        {%- endif -%}
    </div>
{% endblock %}