{% extends 'layout.html' %}

{% set page_icon = 'fas fa-user-check' %}

{% set title = 'Players › Claim RWR account › Finalize' %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js"></script>
    {% assets 'js_player_claim' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    {%- if error_message -%}
        <p class="alert error pas mbs">{{ error_message|safe }}</p>
    {%- endif -%}

    <p class="txtcenter mtm">Please now join any ranked (official) <strong>{{ rwr_account.type_display }}</strong> server within the next <strong class="time-remaining">?</strong> with the <strong>{{ rwr_account.username }}</strong> RWR account.</p>
    <p class="txtcenter">When you're done, click on the button below to finalize the procedure.</p>

    <form method="post" action="{{ url_for('player_finalize_claim', rwr_account_id=rwr_account.id) }}" class="mtm mbm txtcenter">
        <p><button type="submit" class="big"><i class="fa fa-check"></i> Finalize</button></p>
    </form>

    <script>
        playerClaimFeature.milliseconds_remaining = {{ milliseconds_remaining }};
        playerClaimFeature.init();
    </script>
{% endblock %}