{%- import 'macros.html' as macros -%}

{%- if not player -%}
    <div class="pas">Player <strong>{{ request.view_args.get('username') }}</strong> not found in <strong>{{ macros.database_name(request.view_args.get('database')) }}</strong> players list.</div>
{%- else -%}
    <div class="player-content">
        <div class="header pas">
            <div class="grid has-gutter">
                <div><strong>{{ macros.player_name(player) }}</strong></div>
                <div class="txtright">{{ player.database_name }} profile</div>
            </div>
            <div class="grid has-gutter">
                <div><small>{{ player.rank.name }}{% if player.rank.alternative_name %} <span class="txtgrey">({{ player.rank.alternative_name }})</span>{% endif %}</small></div>
                {%- if config['ENABLE_PLAYER_CLAIMING'] and player.user -%}
                    {%- set claimed_icon_link = None -%}

                    {%- if current_user.is_authenticated and current_user.id == player.user.id -%}
                        {%- set claimed_icon_title = 'You already claimed this account.' -%}
                        {%- set claimed_icon_link = player.user.link -%}
                    {%- elif not player.user.is_profile_public -%}
                        {%- set claimed_icon_title = 'This account was claimed by someone who wants to be anonymous.' -%}
                    {%- else -%}
                        {%- set claimed_icon_title = 'This account was claimed by ' + player.user.username + '.' -%}
                        {%- set claimed_icon_link = player.user.link -%}
                    {%- endif -%}

                    <div class="txtright">
                        <span class="claimed-icon" title="{{ claimed_icon_title }}">{% if claimed_icon_link %}<a href="{{ claimed_icon_link }}">{% endif %}<i class="fa fa-user-check"></i>{% if claimed_icon_link %}</a>{% endif %}</span>
                    </div>
                {%- endif -%}
            </div>
        </div>
        <div class="grid body pas has-gutter">
            <div>{{ macros.rank_image(player.rank) }}</div>
            <div>
                <div><span class="txtaltgreen">XP</span><br />{{ player.xp|simplified_integer }}</div>
                <div><span class="txtaltgreen">Score</span><br />{{ player.score|simplified_integer }}</div>
            </div>
            <div>
                <div><span class="txtaltgreen">Kills</span><br />{{ player.kills|simplified_integer }}</div>
                <div><span class="txtaltgreen">Deaths</span><br />{{ player.deaths|simplified_integer }}</div>
            </div>
            <div>
                <div><span class="txtaltgreen">K/D ratio</span><br />{{ player.kd_ratio }}</div>
                <div><span class="txtaltgreen">Time played</span><br />{{ player.time_played|humanize_seconds_to_hours}}</div>
            </div>
        </div>
    </div>
{%- endif -%}