{%- import 'macros.html' as macros -%}

{%- if not player -%}
    <div class="pas">Player <strong>{{ request.view_args.get('username') }}</strong> not found in <strong>{{ macros.database_name(request.view_args.get('database')) }}</strong> players list.</div>
{%- else -%}
    <div class="grid header pas has-gutter">
        <div><strong>{{ macros.player_name(player) }}</strong><br /><small>{{ player.rank.name }}{% if player.rank.alternative_name %} <span class="txtgrey">({{ player.rank.alternative_name }})</span>{% endif %}</small></div>
        <div class="txtright">{{ player.database_name }} profile</div>
    </div>
    <div class="grid body pas has-gutter">
        <div class="w100p">{{ macros.rank_image(player.rank) }}</div>
        <div>
            <div><span class="txtaltgreen">XP</span><br />{{ player.xp|simplified_integer }}</div>
            <div><span class="txtaltgreen">Score</span><br />{{ player.score|simplified_integer }}</div>
        </div>
        <div>
            <div><span class="txtaltgreen">Kills</span><br />{{ player.kills|simplified_integer }}</div>
            <div><span class="txtaltgreen">Deaths</span><br />{{ player.deaths|simplified_integer }}</div>
        </div>
        <div>
            <div><span class="txtaltgreen">K/D ratio</span><br />{{ player.kd_ratio }}</div>
            <div><span class="txtaltgreen">Time played</span><br />{{ player.time_played|humanize_seconds_to_hours}}</div>
        </div>
    </div>
{%- endif -%}