{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fa fa-map"></i> Maps gallery › {{ server_type_name(map.server_type) }} › {{ map.name }}</h1>{% endblock %}

{% block meta_title %}Maps gallery › {{ server_type_name(map.server_type) }} › {{ map.name }}{% endblock %}

{% block meta_description %}Information about the Running With Rifles (RWR) map named {{ map.name }} ({{ server_type_name(map.server_type) }}).{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet{{ '-src' if config['DEBUG'] }}.js"></script>
    {% assets 'js_friends_map' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
{% endblock %}

{% set canonical_url = url_for('map_details', server_type=map.server_type, map_id=map.id, slug=map.slug, _external=True) %}

{% set meta_image = url_for('static', filename='images/maps/preview/{}/{}.png'.format(map.server_type, map.id), _external=True) if map.has_preview else url_for('static', filename='images/maps/mapviews/{}/{}.png'.format(map.server_type, map.id), _external=True) if map.has_mapview %}

{% block content %}
    <div id="map" class="mts map-viewer"></div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();

        mapFeature.tilesUrl = '{{ url_for('static', filename='images/maps/tiles/' + map.server_type + '/' + map.id + '/{z}/{x}/{y}.png').replace('%7B', '{').replace('%7D', '}') }}';
        mapFeature.tileNotFoundUrl = '{{ url_for('static', filename='images/maps/tiles/not_found.png') }}';
        mapFeature.minZoom = {{ config['MAPS_GALLERY_MIN_ZOOM'] }};
        mapFeature.maxZoom = {{ config['MAPS_GALLERY_MAX_ZOOM'] }};
        mapFeature.tileSize = {{ config['MAPS_GALLERY_TILE_SIZE'] }};
        mapFeature.objects = {{ map.objects|tojson }};
        mapFeature.initOnMapDetails();
    </script>
{% endblock %}