{% extends 'layout.html' %}

{% block content %}
    <div class="home grid mtm mbm txtcenter">
        <div class="prl">
            <h2><i class="fa fa-user"></i> Searching for a player?</h2>
            <div>
                <form method="get" action="{{ url_for('player_stats') }}">
                    <input type="text" name="username" placeholder="Type a player name" required> <button type="submit">Find</button>
                </form>
            </div>
        </div>
        <div class="pll">
            <h2><i class="fa fa-server"></i> Looking for a server?</h2>
            <div><a href="{{ url_for('servers_list') }}" class="btn">Go to the public servers list</a></div>
        </div>
    </div>
{% endblock %}