{% extends 'layout.html' %}

{% block content %}
    <div class="home grid mtm mbm txtcenter">
        <div class="prl">
            <h2><i class="fa fa-user"></i> Searching for a player?</h2>
            <div><input type="text" placeholder="Type a player name"> <button>Find</button></div>
        </div>
        <div class="pll">
            <h2><i class="fa fa-server"></i> Searching for a server?</h2>
            <div><a href="{{ url_for('servers_list') }}" class="btn">Go to the servers list</a></div>
        </div>
    </div>
{% endblock %}