<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Players statistics for the official Running With Rifles servers, and more">

    <title>{% block meta_title %}{% endblock %}{% if self.meta_title() | trim %} • {% endif %}RWRS (Running With Rifles Stats)</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/alsacreations/KNACSS/6.1.2/css/knacss.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flags.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header class="txtcenter pts pbs">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
    </header>

    <nav>
        <ul class="txtcenter unstyled mbs">
            <li class="inbl"><a href="{{ url_for('home') }}" class="btn {{ 'active' if request.endpoint == 'home' or request.path.startswith('/players') }}"><i class="fa fa-user"></i> Search for a player</a></li>
            <li class="inbl"><a href="{{ url_for('servers_list') }}" class="btn {{ 'active' if request.path.startswith('/servers') }}"><i class="fa fa-server"></i> Servers list</a></li>
        </ul>
    </nav>

    <div class="page pts pbs">
        <div class="w1140p center">
            {% block page_title %}{% endblock %}

            {% with flash_messages = get_flashed_messages(with_categories=true) %}
              {% if flash_messages %}
                {% for category, message in flash_messages %}
                  <p class="alert {{ category }} pas mbs">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class="small txtcenter pts pbs">
        © 2017 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/rwrs">Source code on GitHub</a><br>
        RWR logo, ranks images, items images, Running With Rifles © 2015 - 2017 Osumia Games<br>
        This project isn't supported nor endorsed by Osumia Games
    </footer>

    {% if config['GAUGES_SITE_ID'] %}
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '{{ config['GAUGES_SITE_ID'] }}');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    {% endif %}
</body>
</html>