<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block meta_title %}{% endblock %}{% if self.meta_title() | trim %} • {% endif %}Running With Rifles Stats (RWRS)</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Players statistics, servers list and more for the Running With Rifles (RWR) game and its Pacific DLC.{% endblock %}">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Running With Rifles Stats (RWRS)">
    <meta property="og:title" content="{{ self.meta_title() }}">
    <meta property="og:description" content="{{ self.meta_description() }}">
    <meta property="og:image" content="{{ meta_image if meta_image else url_for('static', filename='images/icon_round_dark_256.png', _external=True) }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch_invasion.xml') }}" title="RWRS Invasion player search">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch_pacific.xml') }}" title="RWRS Pacific player search">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/alsacreations/KNACSS/6.1.2/css/knacss.css">
    {% block cssfiles %} {% endblock %}
    {% assets 'css_app' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

    {% block jsfiles %} {% endblock %}

    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}

    <meta name="google-site-verification" content="58YRXAqZgsPP1fJar_ymC-4xSWtW3O2NmYwuRDzyRpg" />
</head>
<body itemscope itemtype="http://schema.org/WebSite">
    {% if config['BETA'] %}
        <div class="top-bar yellow pts pbs">
            <div class="w1140p center txtcenter small">
                <i class="fa fa-wrench fa-lg"></i> You are using the beta version of RWRS. Please report issues by PM to <strong>@Epoc#4256</strong> on Discord. Version: <a href="https://github.com/EpocDotFr/rwrs/commit/{{ g.BETA_COMMIT }}">{{ g.BETA_COMMIT[:7] }}</a>@<a href="https://github.com/EpocDotFr/rwrs/tree/{{ g.BETA_BRANCH }}">{{ g.BETA_BRANCH }}</a>
            </div>
        </div>
    {% endif %}

    {% if g.MOTD %}
        <div class="top-bar green pts pbs">
            <div class="w1140p center txtcenter small">
                <i class="fa fa-bell fa-lg"></i> {{ g.MOTD|safe }}
            </div>
        </div>
    {% endif %}

    {% if g.RWR_EVENTS %}
        <div class="top-bar blue pts pbs">
            <div class="w1140p center txtcenter small">
                <i class="fa fa-calendar fa-lg"></i> <strong>Upcoming RWR event{{ 's' if g.RWR_EVENTS|length > 1 }}</strong>:

                {% for rwr_event in g.RWR_EVENTS -%}
                    <a href="{{ rwr_event.url }}">{{ rwr_event.name }}</a> ({{ rwr_event.start.format('MMMM D h:mm A') }}){{ ' • ' if not loop.last }}
                {%- endfor -%}
            </div>
        </div>
    {% endif %}

    {% if not g.UNDER_MAINTENANCE %}
        <div class="top-bar grey pts pbs">
            <div class="w1140p center txtcenter small">
                Currently <strong>{{ g.total_players }}</strong> player{{ 's' if g.total_players > 1 }} in total (<strong>{{ g.online_players }}</strong> {{ 'are' if g.online_players > 1 else 'is' }} playing multiplayer online<span class="total-playing-friends is-hidden">, including <strong class="txtblue">?</strong> <span class="friend-label"></span></span>) and <strong>{{ g.total_servers }}</strong> online multiplayer server{{ 's' if g.total_servers > 1 }} (<strong>{{ g.active_servers }}</strong> {{ 'are' if g.active_servers > 1 else 'is' }} active) • <a href="{{ url_for('online_multiplayer_status') }}">Online multiplayer status</a> {% if not g.is_online_multiplayer_ok %}<i class="fa fa-warning txtred" title="Online multiplayer is having issue"></i>{% endif %}
            </div>
        </div>
    {% endif %}

    <header class="w1140p center pts pbs">
        <div class="txtleft">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo_light.png') }}" title="Running With Rifles Stats logo"></a>
        </div>
        {% if not g.UNDER_MAINTENANCE %}
            <nav class="txtright">
                <ul class="unstyled inbl">
                    <li class="inbl"><a href="{{ url_for('players_list', database='invasion') }}" class="btn {{ 'active' if request.path.startswith('/players') and request.view_args.get('database') == 'invasion' }}"><i class="fa fa-user"></i> Players: Invasion</a></li>
                    <li class="inbl"><a href="{{ url_for('players_list', database='pacific') }}" class="btn {{ 'active' if request.path.startswith('/players') and request.view_args.get('database') == 'pacific' }}"><i class="fa fa-user"></i> Players: Pacific</a></li>
                    <li class="inbl"><a href="{{ url_for('servers_list') }}" class="btn {{ 'active' if request.path.startswith('/servers') }}"><i class="fa fa-server"></i> Servers</a></li>
                    <li class="inbl manage-friends-link is-hidden"><a href="{{ url_for('my_friends') }}" class="btn {{ 'active' if request.path.startswith('/my-friends') }}"><i class="fa fa-users"></i> My friends</a></li>
                </ul>
            </nav>
        {% endif %}
    </header>

    <div class="page pts pbs">
        <div class="{{ 'w1140p center' if g.LAYOUT == 'normal' else 'mls mrs' }}">
            {% block page_title %}{% endblock %}

            {% with flash_messages = get_flashed_messages(with_categories=true) %}
              {% if flash_messages %}
                {% for category, message in flash_messages %}
                  <p class="alert {{ category }} pas mbs">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class="w1140p center small pts pbs" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Running With Rifles Stats">
        <meta itemprop="alternateName" content="RWRS">
        <meta itemprop="url" content="{{ url_for('home', _external=True) }}">
        <meta itemprop="logo" content="{{ url_for('static', filename='images/logo_dark.png', _external=True) }}">

        <div>
            © 2017 - 2018 <a href="https://epoc.fr"><img src="{{ url_for('static', filename='images/epoc.png') }}"></a> <a href="https://epoc.fr">Maxime "Epoc" G.</a><br>
            This site is not affiliated with Osumia Games.<br>
            All Running With Rifles assets © 2015 - 2018 Osumia Games.
        </div>
        <div class="txtright">
            <a href="http://www.runningwithrifles.com/">RWR website</a> • <a href="http://www.runningwithrifles.com/phpBB3/">RWR forums</a> • <a href="https://runningwithrifles.gamepedia.com/Running_with_Rifles_Wiki">RWR wiki</a> • <a href="http://steamcommunity.com/app/270150">RWR on Steam</a> • <a href="https://www.reddit.com/r/Runningwithrifles/">RWR on Reddit</a> • <a href="https://discord.gg/010ixMlfmhK5BhYOv">RWR on Discord</a> • <a href="https://twitter.com/osumiagames">RWR on Twitter</a><br><br>
            Any feedback? Post a message <a href="http://www.runningwithrifles.com/phpBB3/viewtopic.php?f=12&t=3376">in this RWR forum topic</a> or <a href="https://steamcommunity.com/app/270150/discussions/0/1520386297704428050/">in this Steam discussions topic</a>.
        </div>
    </footer>

    {% if config['GAUGES_SITE_ID'] and g.INCLUDE_WEB_ANALYTICS %}
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '{{ config['GAUGES_SITE_ID'] }}');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    {% endif %}
</body>
</html>