{% macro me_easter_egg(player, raw=False) -%}
    {% set username = player.lower() if raw else player.username.lower() %}

    {% if username == config['MY_USERNAME'] %}
        <img src="{{ url_for('static', filename='images/me.png') }}" title="Hey, I'm the creator of this website! Glad to see you're using it." class="help">
    {% endif %}
{%- endmacro %}

{% macro map_name(map, link=True) -%}
    {% if map.name %}
        {% if link and map.is_official %}
            <a href="https://runningwithrifles.gamepedia.com/Special:Search/{{ map.name }}">
        {% endif %}
            {{ map.name }}
        {% if link and map.is_official %}
            </a>
        {% endif %}
    {% else %}
        {{ map.id }}
    {% endif %}
{%- endmacro %}

{% macro server_name(server) -%}
    {% if server.is_ranked %}
        <i class="fa fa-star txtyellow help" title="Ranked server"></i>
    {% endif %}
    {% if server.website %}
        <a href="{{ server.website }}">
    {% endif %}
        {{ server.name }}
    {% if server.website %}
        </a>
    {% endif %}
{%- endmacro %}

{% macro location(location, text=False, na=False) -%}
    {% if location.country_code %}
        <i class="flag flag-{{ location.country_code }}" title="{{ location.country_name }}"></i>{% if text %} {{location.country_name }}{% endif %}
    {% elif na %}
        N/A
    {% endif %}
{%- endmacro %}

{% macro server_slots_class(server) -%}
    {{ 'txtorange' if server.players.free in (1, 2) else 'txtred' if server.players.free == 0 else '' }}
{%- endmacro %}

{% macro server_join_button(server) -%}
    {% if server.players.free > 0 %}
        <a href="{{ server.steam_join_link }}" class="btn"><i class="fa fa-steam"></i> Join</a>
    {% else %}
        <a href="#" class="btn disabled" onclick="return false;" title="Server is full"><i class="fa fa-steam"></i> Join</a>
    {% endif %}
{%- endmacro %}

{% macro compare_numbers(first, second, attribute, type=int, above_zero_is_good=True, inverse=False) -%}
    {% if second %}
        {% set value = first[attribute] - second[attribute] %}

        {% if type == int %}
            {% set value_humanized = abs(value)|humanize_integer %}
        {% elif type == float %}
            {% set value_humanized = str(fabs(round(value, 2))) %}
        {% elif type == 'time' %}
            {% set value_humanized = abs(value)|humanize_seconds %}
        {% else %}
            {% set value_humanized = str(value) %}
        {% endif %}

        {% if value > 0 %}
            {% set icon_class = 'arrow-up' if not inverse else 'arrow-down' %}
            {% set color_class = 'txtgreen' if above_zero_is_good else 'txtred' %}
            {% set title = first.username + ' is ' + ('above' if not inverse else 'below') + ' ' + second.username + ' by ' + value_humanized %}
        {% elif value < 0 %}
            {% set icon_class = 'arrow-down' if not inverse else 'arrow-up' %}
            {% set color_class = 'txtred' if above_zero_is_good else 'txtgreen' %}
            {% set title = first.username + ' is ' + ('below' if not inverse else 'above') + ' ' + second.username + ' by ' + value_humanized %}
        {% else %}
            {% set icon_class = 'balance-scale' %}
            {% set color_class = 'txtgrey' %}
            {% set title = 'No difference between ' + first.username + ' and ' + second.username %}
        {% endif %}

        <i class="fa fa-{{ icon_class }} {{ color_class }} help" title="{{ title }}"></i>
    {% endif %}
{%- endmacro %}

{% macro compare_ranks(first, second) -%}
    {% if second %}
        {% if first.rank.id > second.rank.id %}
            {% set icon_class = 'arrow-up' %}
            {% set color_class = 'txtgreen' %}
            {% set title = first.username + ' is higher-ranked than ' + second.username + ' (' + second.rank.name + ')' %}
        {% elif first.rank.id < second.rank.id %}
            {% set icon_class = 'arrow-down' %}
            {% set color_class = 'txtred' %}
            {% set title = first.username + ' is less-ranked than ' + second.username + ' (' + second.rank.name + ')' %}
        {% else %}
            {% set icon_class = 'balance-scale' %}
            {% set color_class = 'txtgrey' %}
            {% set title = first.username + ' and ' + second.username + ' have the same rank' %}
        {% endif %}

        <i class="fa fa-{{ icon_class }} {{ color_class }} help" title="{{ title }}"></i>
    {% endif %}
{%- endmacro %}