{% macro player_name(player, raw=False, link=False, show_rank=False) -%}
    {% set username = player if raw else player.username %}

    {% if show_rank %}
        <img src="{{ url_for('static', filename='images/ranks/{rank_id}_icon.png'.format(rank_id=player.rank.id)) }}" title="{{ player.rank.name }}" class="help">
    {% endif %}

    {% if username.lower() == config['MY_USERNAME'] %}
        <img src="{{ url_for('static', filename='images/me.png') }}" title="Hey, I'm the creator of this website! Glad to see you're using it." class="help me">
    {% elif username.lower() in config['CONTRIBUTORS'] %}
        <i class="fa fa-hand-peace-o help" title="This player contributed in a way or another to RWRS. Thanks to her/him!"></i>
    {% elif username.lower() in config['DEVS'] %}
        <img src="{{ url_for('static', filename='images/dev.png') }}" title="Say hi to one of the Running With Rifles developers!" class="help">
    {% endif %}

    {% if link %}
        <a href="{{ url_for('player_details', username=username) }}">
    {%- endif -%}
        {{ username }}
    {%- if link -%}
        </a>
    {% endif %}
{%- endmacro %}

{% macro map_name(map, link=True) -%}
    {% if map.name %}
        {% if link and map.url %}
            <a href="{{ map.url }}">
        {% endif %}
            {{ map.name }}
        {% if link and map.url %}
            </a>
        {% endif %}
    {% else %}
        {{ map.id }}
    {% endif %}
{%- endmacro %}

{% macro server_name(server, link=True) -%}
    {% if server.is_ranked %}
        <i class="fa fa-star txtyellow help" title="Ranked server"></i>
    {% endif %}
    {% if link and server.website %}
        <a href="{{ server.website }}">
    {% endif %}
        {{ server.name }}
    {% if link and server.website %}
        </a>
    {% endif %}
{%- endmacro %}

{% macro location(location, text=False, na=False) -%}
    {% if location.country_code %}
        <i class="flag flag-{{ location.country_code }}" title="{{ location.country_name }}"></i>{% if text %} {{location.country_name }}{% endif %}
    {% elif na %}
        N/A
    {% endif %}
{%- endmacro %}

{% macro server_slots_class(server) -%}
    {{ 'txtorange' if server.players.free in (1, 2) else 'txtred' if server.players.free == 0 else '' }}
{%- endmacro %}

{% macro server_join_button(server) -%}
    {% if server.players.free > 0 %}
        <a href="{{ server.steam_join_link }}" class="btn"><i class="fa fa-steam"></i> Join</a>
    {% else %}
        <a href="#" class="btn disabled" onclick="return false;" title="Server is full"><i class="fa fa-steam"></i> Join</a>
    {% endif %}
{%- endmacro %}

{% macro unlockables_list(player_unlocks, type) -%}
    {% for unlock in player_unlocks[type]['list'] %}
        <div>
            <img src="{{ url_for('static', filename='images/unlockables/' + type + '/' + unlock['image'] + '.png') }}" class="{{ 'locked' if not unlock['unlocked'] else '' }} help" title="{{ unlock['name'] }} ({{ unlock['required_xp'] }} XP)">
        </div>
    {% endfor %}
{%- endmacro %}

{% macro compare_numbers(first, second, attribute, type=int, above_zero_is_good=True, inverse=False) -%}
    {% if second %}
        {% set value = first[attribute] - second[attribute] %}

        {% if type == int %}
            {% set value_humanized = abs(value)|humanize_integer %}
        {% elif type == float %}
            {% set value_humanized = str(fabs(round(value, 2))) %}
        {% elif type == 'time' %}
            {% set value_humanized = abs(value)|humanize_seconds %}
        {% else %}
            {% set value_humanized = str(value) %}
        {% endif %}

        {% if value > 0 %}
            {% set icon_class = 'arrow-up' if not inverse else 'arrow-down' %}
            {% set color_class = 'txtgreen' if above_zero_is_good else 'txtred' %}
            {% set title = first.username + ' is ' + ('above' if not inverse else 'below') + ' ' + second.username + ' by ' + value_humanized %}
        {% elif value < 0 %}
            {% set icon_class = 'arrow-down' if not inverse else 'arrow-up' %}
            {% set color_class = 'txtred' if above_zero_is_good else 'txtgreen' %}
            {% set title = first.username + ' is ' + ('below' if not inverse else 'above') + ' ' + second.username + ' by ' + value_humanized %}
        {% else %}
            {% set icon_class = 'balance-scale' %}
            {% set color_class = 'txtgrey' %}
            {% set title = 'No difference between ' + first.username + ' and ' + second.username %}
        {% endif %}

        <i class="fa fa-{{ icon_class }} {{ color_class }} help" title="{{ title }}"></i>
    {% endif %}
{%- endmacro %}

{% macro compare_ranks(first, second) -%}
    {% if second %}
        {% if first.rank.id > second.rank.id %}
            {% set icon_class = 'arrow-up' %}
            {% set color_class = 'txtgreen' %}
            {% set title = first.username + ' is higher-ranked than ' + second.username + ' (' + second.rank.name + ')' %}
        {% elif first.rank.id < second.rank.id %}
            {% set icon_class = 'arrow-down' %}
            {% set color_class = 'txtred' %}
            {% set title = first.username + ' is less-ranked than ' + second.username + ' (' + second.rank.name + ')' %}
        {% else %}
            {% set icon_class = 'balance-scale' %}
            {% set color_class = 'txtgrey' %}
            {% set title = first.username + ' and ' + second.username + ' have the same rank' %}
        {% endif %}

        <i class="fa fa-{{ icon_class }} {{ color_class }} help" title="{{ title }}"></i>
    {% endif %}
{%- endmacro %}

{% macro options(name, entries, where=request.args, depth=0) -%}
    {% set spacing = '&nbsp;&nbsp;&nbsp;&nbsp;'|safe * depth if depth > 0 else '' %}

    {% for entry in entries %}
        {% if not entry.type or entry.type == 'option' %}
            <option value="{{ entry.value }}" {% if where.get(name) == entry.value %}selected{% endif %}>{{ spacing }}{{ entry.label }}</option>
        {% elif entry.type == 'group' %}
            {% if not entry.value %}
                <optgroup label="{{ entry.label }}">
                    {{ options(name, entry.entries, where=where) }}
                </optgroup>
            {% else %}
                <option value="{{ entry.value }}" {% if where.get(name) == entry.value %}selected{% endif %}>{{ spacing }}{{ entry.label }}</option>
                {{ options(name, entry.entries, where=where, depth=depth + 1) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro select(name, default_label, entries, default_value='any', where=request.args, class='') -%}
    <select name="{{ name }}" class="{{ class }}">
        <option value="{{ default_value }}">{{ default_label }}</option>
        {{ options(name, entries, where=where) }}
    </select>
{%- endmacro %}

{% macro checkbox(name, label, value='yes', where=request.args) -%}
    <label><input type="checkbox" name="{{ name }}" value="{{ value }}" {% if where.get(name) == value %}checked{% endif %}> {{ label }}</label>
{%- endmacro %}
