{% extends 'layout.html' %}

{% block page_title %}<h2><i class="fa fa-users"></i> My friends</h2>{% endblock %}

{% block meta_title %}My friends{% endblock %}

{% block content %}
    <div id="app" v-cloak>
        <form class="mbs txtcenter" v-on:submit.prevent="submitAddFriendForm()">
            <input type="text" v-model.trim="friend_to_add" placeholder="Type a player name" required> <button type="submit">Add new friend</button>
        </form>

        <table class="striped mbn">
            <thead>
                <tr>
                    <th>Friend name</th>
                    <th>Playing on server</th>
                    <th>Current players</th>
                    <th>Max players</th>
                    <th>Map</th>
                    <th>Type</th>
                    <th>Mode</th>
                    <th class="w100p"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="friend in friendsEnriched">
                    <td>
                        <img src="{{ url_for('static', filename='images/me.png') }}" title="Hey, I'm the creator of this website! Glad to see you're using it." class="help me" v-if="friend.username.toLowerCase() == my_username">
                        <i class="fa fa-hand-peace-o help" title="This player contributed in a way or another to RWRS. Thanks to her/him!" v-if="inArray(friend.username.toLowerCase(), contributors)"></i>
                        <img src="{{ url_for('static', filename='images/dev.png') }}" title="You're in presence of one of the Running With Rifles developers!" class="help" v-if="inArray(friend.username.toLowerCase(), devs)">
                        <a :href="'/players/' + friend.username">${ friend.username }</a>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            <a :href="friend.playing_on_server.players.free > 0 ? friend.playing_on_server.steam_join_link : '#'" :class="['btn', friend.playing_on_server.players.free == 0 ? 'disabled' : '']" onclick="return false;" :title="friend.playing_on_server.players.free == 0 ? 'Server is full' : ''" v-if="friend.playing_on_server"><i class="fa fa-steam"></i> Join</a>
                            <i :class="['flag', 'flag-' + friend.playing_on_server.location.country_code]" :title="friend.playing_on_server.location.country_name" v-if="friend.playing_on_server.location.country_code"></i>
                            <i class="fa fa-star txtyellow help" title="Ranked server" v-if="friend.playing_on_server.is_ranked"></i>
                            <a :href="'/servers/' + friend.playing_on_server.ip_and_port">${ friend.playing_on_server.name }</a>
                        </template>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            <span :class="[(friend.playing_on_server.players.free == 1 || friend.playing_on_server.players.free == 2) ? 'txtorange' : '', friend.playing_on_server.players.free == 0 ? 'txtred' : '']">
                                ${ friend.playing_on_server.players.current }
                            </span>
                        </template>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            ${ friend.playing_on_server.players.max }
                        </template>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            <a :href="friend.playing_on_server.map.url" v-if="friend.playing_on_server.map.url && friend.playing_on_server.map.name">${ friend.playing_on_server.map.name }</a>
                            <template v-if="!friend.playing_on_server.map.url && friend.playing_on_server.map.name">${ friend.playing_on_server.map.name }</template>
                            <template v-if="!friend.playing_on_server.map.name">${ friend.playing_on_server.map.id }</template>
                        </template>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            ${ friend.playing_on_server.type }
                        </template>
                    </td>
                    <td>
                        <template v-if="friend.playing_on_server">
                            ${ friend.playing_on_server.mode }
                        </template>
                    </td>
                    <td class="txtcenter">
                        <a href="#" class="btn" @click.prevent="removeFriend(friend.username)" :title="'Remove ' + friend.username + ' from friends list'"><i class="fa fa-user-times"></i></a>
                    </td>
                </tr>
                <tr v-show="friendsEnriched.length == 0">
                    <td class="txtcenter" colspan="8">
                        <div class="alert info pas txtcenter"><img src="{{ url_for('static', filename='images/forever_alone.png') }}"><br>You don't have friends at this moment.</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue{{ '.min' if not config['DEBUG'] else '' }}.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};

        friendsFeature.my_username = '{{ config['MY_USERNAME'] }}';
        friendsFeature.contributors = {{ config['CONTRIBUTORS']|tojson }};
        friendsFeature.devs = {{ config['DEVS']|tojson }};
        friendsFeature.all_players_with_servers_details = {{ all_players_with_servers_details|tojson }};
        friendsFeature.initOnMyFriends();
    </script>
{% endblock %}