{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-heartbeat"></i> Online multiplayer status</h1>{% endblock %}

{% block meta_title %}Online multiplayer status{% endblock %}

{% block meta_description %}Current status of the Running With Rifles (RWR) online multiplayer.{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends_status' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('online_multiplayer_status', _external=True) %}

{% block content %}
    <p>This page shows the current status of core parts of the RWR online multiplayer infrastructure. It is updated every {{ config['ROOT_RWR_SERVERS_CHECK_INTERVAL'] }} minutes{% if next_root_rwr_servers_check %} (next update happens {{ next_root_rwr_servers_check.humanize() }}){% endif %}.</p>

    {% if is_everything_ok %}
        <div class="alert success pas mtm mbm w50 center txtcenter pam"><i class="fas fa-check"></i> Everything is working fine. Go play with others!</div>
    {% else %}
        <div class="alert error pas mtm mbm w50 center txtcenter pam"><i class="fas fa-exclamation-triangle "></i> Looks like online multiplayer is encountering issues. For updates on the situation, head over the <a href="https://twitter.com/osumiagames">RWR Twitter account</a> or the <a href="https://discord.gg/runningwithrifles">RWR Discord server</a>.</div>
    {% endif %}

    <div class="w70 center">
        <div class="grid-2 has-gutter">
            {% for group in servers_statuses %}
                <div>
                    <table class="servers-list mbn">
                        <thead>
                            <tr>
                                <th><i class="fas fa-{{ group.status_icon }}-circle fa-fw txt{{ group.status_color }} help" title="{{ group.status_text }}"></i> {{ group.label }} <span class="fr"><i class="fas fa-{{ 'minus' if not group.is_everything_ok else 'plus'}}-square toggle-icon" title="Show / hide details"></i></span></th>
                            </tr>
                        </thead>
                        <tbody class="{{ 'has-outages' if not group.is_everything_ok }}">
                            {% for server in group.servers %}
                                <tr>
                                    <td><i class="fas fa-{{ server.status_icon }}-circle fa-fw txt{{ server.status_color }} help" title="{{ server.status_text }}"></i> {{ server.location }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="small txtgrey txtcenter mts">{{ group.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();

        onlineStatusFeature.init();
    </script>
{% endblock %}