{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fa fa-plug"></i> RWR online status</h1>{% endblock %}

{% block meta_title %}RWR online status{% endblock %}

{% block meta_description %}Current status of the Running With Rifles (RWR) master servers (needed to play online) as well as the stats servers (keeping track of your stats on ranked (official) servers).{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% assets 'js_friends_status' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('online_status', _external=True) %}

{% block content %}
    {% if is_everything_ok %}
        <p class="alert success pas mtm center w50 txtcenter"><i class="fa fa-check fa-2x"></i><br>Everything is working fine. Go play!</p>
    {% else %}
        <p class="alert error pas mtm center w50 txtcenter"><i class="fa fa-warning fa-2x"></i><br>Looks like RWR online is encountering issues. For updates on the situation, head over the <a href="https://twitter.com/osumiagames">RWR Twitter account</a> or the <a href="https://discord.gg/010ixMlfmhK5BhYOv">RWR Discord server</a>.</p>
    {% endif %}

    {% for group in servers_statuses %}
        <h2>{{ group.label }} <small class="txtgrey">{{ group.description }}</small></h2>

        <div class="grid-4 has-gutter">
            {% for continent in group.continents %}
                <div>
                    <table class="servers-list">
                        <thead>
                            <tr>
                                <th><i class="fa fa-{{ continent.status_icon }}-circle fa-fw txt{{ continent.status_color }} help" title="{{ continent.status_text }}"></i> {{ continent.name }} <span class="fr"><i class="fa fa-{{ 'minus' if not continent.is_everything_ok else 'plus'}}-square toggle-icon"></i></span></th>
                            </tr>
                        </thead>
                        <tbody class="{{ 'has-outages' if not continent.is_everything_ok }}">
                            {% for server in continent.servers %}
                                <tr>
                                    <td><i class="fa fa-{{ server.status_icon }}-circle fa-fw txt{{ server.status_color }} help" title="{{ server.status_text }}"></i> {{ server.location }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <!--<div>
        <table>
            <thead>
                <tr>
                    <th><i class="fa fa-exclamation-circle fa-lg fa-fw txtorange help"></i> Asia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-check-circle fa-lg fa-fw txtgreen help"></i> Hangzhou, China #1</td>
                </tr>
                <tr>
                    <td><i class="fa fa-times-circle fa-lg fa-fw txtred help"></i> Hangzhou, China #2</td>
                </tr>
                <tr>
                    <td><i class="fa fa-check-circle fa-lg fa-fw txtgreen help"></i> Tokyo, Japan</td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();

        onlineStatusFeature.init();
    </script>
{% endblock %}