{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fa fa-plug"></i> RWR online status</h1>{% endblock %}

{% block meta_title %}RWR online status{% endblock %}

{% block meta_description %}Current status of the Running With Rifles (RWR) master servers (needed to play online) as well as the stats servers (keeping track of your stats on ranked (official) servers).{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% assets 'js_friends_status' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('online_status', _external=True) %}

{% block content %}
    <p class="alert error pas"><i class="fa fa-warning"></i> Looks like RWR online is encountering some issues. For updates on the situation, head over the <a href="https://twitter.com/osumiagames">RWR Twitter account</a> or the <a href="https://discord.gg/010ixMlfmhK5BhYOv">RWR Discord server</a>.</p>

    <p class="alert success pas"><i class="fa fa-check"></i> Everything work fine. Go play!</p>

    {% for group in servers_to_monitor %}
        <h2>{{ group.label }} <small class="txtgrey">{{ group.description }}</small></h2>

        <div class="grid-4 has-gutter">
            {% for continent in group.continents %}
                <div>
                    <table class="servers-list">
                        <thead>
                            <tr>
                                <th><i class="fa fa-{{ continent.status_icon }}-circle fa-fw txt{{ continent.status_color }} help" title="{{ continent.status_text }}"></i> {{ continent.name }} <span class="fr"><i class="fa fa-{{ 'minus' if continent.status_icon != 'check' else 'plus'}}-square toggle-icon"></i></span></th>
                            </tr>
                        </thead>
                        <tbody class="{{ 'has-outages' if continent.status_icon != 'check' }}">
                            {% for server in continent.servers %}
                                <tr>
                                    <td><i class="fa fa-check-circle fa-fw txtgreen help" title="Partial outage"></i> {{ server.location }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <!--<div>
        <table>
            <thead>
                <tr>
                    <th><i class="fa fa-exclamation-circle fa-lg fa-fw txtorange help"></i> Asia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-check-circle fa-lg fa-fw txtgreen help"></i> Hangzhou, China #1</td>
                </tr>
                <tr>
                    <td><i class="fa fa-times-circle fa-lg fa-fw txtred help"></i> Hangzhou, China #2</td>
                </tr>
                <tr>
                    <td><i class="fa fa-check-circle fa-lg fa-fw txtgreen help"></i> Tokyo, Japan</td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();

        onlineStatusFeature.init();
    </script>
{% endblock %}