{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block page_title %}<h2><i class="fa fa-user"></i> Players</h2>{% endblock %}

{% block meta_title %}Players{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block content %}
    <table class="{{ 'striped' if players else '' }} mbn players-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>XP</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>K/D ratio</th>
                <th>Score</th>
                <th>Time played</th>
                <th>Longest kill streak</th>
                <th>Targets destroyed</th>
                <th>Distance moved</th>
                <th>Vehicles destroyed</th>
                <th>Soldiers healed</th>
                <th>Teamkills</th>
                <th>Shots fired</th>
                <th>Throwables thrown</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr{% if 'target' in request.args and request.args.get('target').upper() == player.username %} class="notice"{% endif %} data-username="{{ player.username }}">
                    <td>{{ player.position|humanize_integer }}</td>
                    <td class="nowrap">{{ macros.player_name(player, link=True, show_rank=True) }}</td>
                    <td>{{ player.xp|humanize_integer }}</td>
                    <td>{{ player.kills|humanize_integer }}</td>
                    <td>{{ player.deaths|humanize_integer }}</td>
                    <td><span class="{{ 'txtred' if player.kd_ratio < 1 else 'txtgreen' }}">{{ player.kd_ratio }}</span></td>
                    <td><span class="{{ 'txtred' if player.score < 0 else 'txtgreen' }}">{{ player.score|humanize_integer }}</span></td>
                    <td>{{ player.time_played|humanize_seconds }}</td>
                    <td>{{ player.longest_kill_streak|humanize_integer }}</td>
                    <td>{{ player.targets_destroyed|humanize_integer }}</td>
                    <td>{{ player.distance_moved }}km</td>
                    <td>{{ player.vehicles_destroyed|humanize_integer }}</td>
                    <td>{{ player.soldiers_healed|humanize_integer }}</td>
                    <td>{{ player.teamkills|humanize_integer }}</td>
                    <td>{{ player.shots_fired|humanize_integer }}</td>
                    <td>{{ player.throwables_thrown|humanize_integer }}</td>
                    <td>
                        <a href="#" title="Add {{ player.username }} to friends list" class="btn add-friend is-hidden"><i class="fa fa-user-plus"></i></a>
                        <a href="#" title="Remove {{ player.username }} from friends list" class="btn remove-friend is-hidden"><i class="fa fa-user-times"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">
                        <div class="alert info pas txtcenter">There isn't any player to display.</div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="small txtcenter mts">Stats are updated daily and only concerns ranked servers which are tagged with a <i class="fa fa-star txtyellow"></i></div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.initOnPlayersList();
    </script>
{% endblock %}