{% extends 'layout.html' %}

{% block meta_title %}Players › {{ player.username }}{% endblock %}

{% block content %}
    <h2><i class="fa fa-user"></i> Players › {{ player.username }}</h2>

    <table>
        <tr>
            <th class="txtcenter w30">Current rank</th>
            <th class="txtcenter w40">Playing right now?</th>
            <th class="txtcenter w30">Next rank</th>
        </tr>
        <tr>
            <td class="big txtcenter"><img src="{{ url_for('static', filename='images/ranks/{rank_id}.png'.format(rank_id=player.rank.id)) }}"> {{ player.rank.name }}</td>
            <td class="txtcenter">
                {% if player.playing_on_server %}
                    <div>
                        <i class="flag flag-{{ player.playing_on_server.location.country_code }}" title="{{ player.playing_on_server.location.country_name }}"></i>
                        {% if player.playing_on_server.website %}
                            <a href="{{ player.playing_on_server.website }}">
                        {% endif %}
                            {{ player.playing_on_server.name }}
                        {% if player.playing_on_server.website %}
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        <strong>{{ player.playing_on_server.players.current }}/{{ player.playing_on_server.players.max }}</strong> players on <strong>{{ player.playing_on_server.map.name }}</strong> with <strong>{{ player.playing_on_server.bots }}</strong> bots
                    </div>
                    <div class="mts">
                        <a href="{{ player.playing_on_server.steam_join_link }}" class="btn"><i class="fa fa-steam"></i> Join now</a>
                    </div>
                {% else %}
                    Nope.
                {% endif %}
            </td>
            <td class="big txtcenter">
                {% if player.next_rank %}
                    <img src="{{ url_for('static', filename='images/ranks/{rank_id}.png'.format(rank_id=player.next_rank.id)) }}"> {{ player.next_rank.name }}
                {% else %}
                    {{ player.username }} reached the highest available rank.
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="txtcenter">Current XP</th>
            <th class="txtcenter">Next rank progression</th>
            <th class="txtcenter">Required XP</th>
        </tr>
        <tr>
            <td class="txtcenter">{{ player.xp|humanize_integer }}</td>
            <td class="txtcenter pan">
                {% if player.next_rank %}
                    <div class="progress-bar">
                        <div class="text pas w100">
                            <span class="fl">{{ player.xp_percent_completion_to_next_rank }}%</span>
                            <span class="fr">{{ player.xp_to_next_rank|humanize_integer }} XP remaining</span>
                        </div>
                        <div class="bar pas" style="width: {{ player.xp_percent_completion_to_next_rank }}%">&nbsp;</div>
                    </div>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="txtcenter">{{ player.next_rank.xp|humanize_integer if player.next_rank else 'N/A' }}</td>
        </tr>
    </table>

    <table class="mbn">
        <tr>
            <th>Kills</th>
            <td>{{ player.kills|humanize_integer }}</td>
            <th>Deaths</th>
            <td>{{ player.deaths|humanize_integer }}</td>
            <th>K/D ratio</th>
            <td>{{ player.kd_ratio }}</td>
            <th>Score</th>
            <td>{{ player.score|humanize_integer }}</td>
        </tr>
        <tr>
            <th>Time played</th>
            <td>{{ player.time_played|humanize_seconds }}</td>
            <th>Longest kill streak</th>
            <td>{{ player.longest_kill_streak|humanize_integer }}</td>
            <th>Targets destroyed</th>
            <td>{{ player.targets_destroyed|humanize_integer }}</td>
            <th>Vehicles destroyed</th>
            <td>{{ player.vehicles_destroyed|humanize_integer }}</td>
        </tr>
        <tr>
            <th>Soldiers healed</th>
            <td>{{ player.soldiers_healed|humanize_integer }}</td>
            <th>Teamkills</th>
            <td>{{ player.teamkills|humanize_integer }}</td>
            <th>Distance moved</th>
            <td>{{ player.distance_moved }}km</td>
            <th>Shots fired</th>
            <td>{{ player.shots_fired|humanize_integer }}</td>
        </tr>
        <tr>
            <th>Throwables thrown</th>
            <td>{{ player.throwables_thrown|humanize_integer }}</td>
            <td colspan="6"></td>
        </tr>
    </table>

    <p class="txtcenter">
        <a href="{{ url_for('home') }}" class="btn"><i class="fa fa-user"></i> Search another player</a>
        <a href="{{ url_for('servers_list') }}" class="btn"><i class="fa fa-server"></i> Public servers list</a>
    </p>
{% endblock %}