{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block page_title %}<h2><i class="fa fa-user"></i> Players › {{ macros.me_easter_egg(player) }} {{ player.username }}{% if player_to_compare_with %} (Comparison with {{ macros.me_easter_egg(player_to_compare_with) }} {{ player_to_compare_with.username }}){% endif %}</h2>{% endblock %}

{% block meta_title %}Players › {{ player.username }}{% if player_to_compare_with %} (Comparison with {{ player_to_compare_with.username }}){% endif %}{% endblock %}

{% block content %}
    <div class="txtcenter mbs">
        <form method="get" action="{{ url_for('players_compare', username=player.username) }}" class="inbl">
            <input type="text" name="username_to_compare_with" placeholder="Type a player name" required> <button type="submit">Compare players</button>
        </form>

        <a href="#" class="btn add-friend is-hidden"><i class="fa fa-user-plus"></i> Add to friends list</a>
        <a href="#" class="btn remove-friend is-hidden"><i class="fa fa-user-times"></i> Remove from friends list</a>
    </div>

    <table class="mbs">
        <tr>
            <th class="txtcenter w30">Current rank</th>
            <th class="txtcenter w40">Playing right now?</th>
            <th class="txtcenter w30">Next rank</th>
        </tr>
        <tr>
            <td class="big txtcenter">{{ macros.compare_ranks(player, player_to_compare_with) }} <img src="{{ url_for('static', filename='images/ranks/{rank_id}.png'.format(rank_id=player.rank.id)) }}"> {{ player.rank.name }}</td>
            <td class="txtcenter">
                {% if player.playing_on_server %}
                    <div>{{ macros.location(player.playing_on_server.location) }} {{ macros.server_name(player.playing_on_server) }}</div>
                    <div>
                        <strong><span class="{{ macros.server_slots_class(player.playing_on_server) }}">{{ player.playing_on_server.players.current }}</span>/{{ player.playing_on_server.players.max }}</strong> players on

                        <strong>{{ macros.map_name(player.playing_on_server.map, False) }}</strong>
                    </div>
                    <div class="mts">
                        {{ macros.server_join_button(player.playing_on_server) }}

                        <a href="{{ url_for('server_details', ip_and_port=player.playing_on_server.ip_and_port) }}" class="btn"><i class="fa fa-eye"></i> Details</a>
                    </div>
                {% else %}
                    Nope.
                {% endif %}
            </td>
            <td class="{{ 'big' if player.next_rank else '' }} txtcenter">
                {% if player.next_rank %}
                    <img src="{{ url_for('static', filename='images/ranks/{rank_id}.png'.format(rank_id=player.next_rank.id)) }}"> {{ player.next_rank.name }}
                {% else %}
                    {{ player.username }} reached the highest possible rank.
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="txtcenter">Current XP</th>
            <th class="txtcenter">Next rank progression</th>
            <th class="txtcenter">Required XP</th>
        </tr>
        <tr>
            <td class="txtcenter">{{ macros.compare_numbers(player, player_to_compare_with, 'xp') }} {{ player.xp|humanize_integer }}</td>
            <td class="txtcenter pan">
                {% if player.next_rank %}
                    <div class="progress-bar">
                        <div class="text pls pts prs w100">
                            <span class="fl">{{ player.xp_percent_completion_to_next_rank }}%</span>
                            <span class="fr">{{ player.xp_to_next_rank|humanize_integer }} XP remaining</span>
                        </div>
                        <div class="bar" style="width: {{ player.xp_percent_completion_to_next_rank }}%"></div>
                    </div>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="txtcenter">{{ player.next_rank.xp|humanize_integer if player.next_rank else 'N/A' }}</td>
        </tr>
    </table>

    <table class="mbs">
        <tr>
            <th>Kills</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'kills') }} {{ player.kills|humanize_integer }}</td>
            <th>Deaths</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'deaths', above_zero_is_good=False) }} {{ player.deaths|humanize_integer }}</td>
            <th>K/D ratio</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'kd_ratio', type=float) }} <span class="{{ 'txtred' if player.kd_ratio < 1 else 'txtgreen' }}">{{ player.kd_ratio }}</span></td>
            <th>Score</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'score') }} <span class="{{ 'txtred' if player.score < 0 else 'txtgreen' }}">{{ player.score|humanize_integer }}</span></td>
        </tr>
        <tr>
            <th>Time played</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'time_played', type='time') }} {{ player.time_played|humanize_seconds }}</td>
            <th>Longest kill streak</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'longest_kill_streak') }} {{ player.longest_kill_streak|humanize_integer }}</td>
            <th>Targets destroyed</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'targets_destroyed') }} {{ player.targets_destroyed|humanize_integer }}</td>
            <th>Distance moved</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'distance_moved', type=float) }} {{ player.distance_moved }}km</td>
        </tr>
        <tr>
            <th>Vehicles destroyed</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'vehicles_destroyed') }} {{ player.vehicles_destroyed|humanize_integer }}</td>
            <th>Soldiers healed</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'soldiers_healed') }} {{ player.soldiers_healed|humanize_integer }}</td>
            <th>Teamkills</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'teamkills', above_zero_is_good=False) }} {{ player.teamkills|humanize_integer }}</td>
            <th>Shots fired</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'shots_fired') }} {{ player.shots_fired|humanize_integer }}</td>
        </tr>
        <tr>
            <th>Throwables thrown</th>
            <td>{{ macros.compare_numbers(player, player_to_compare_with, 'throwables_thrown') }} {{ player.throwables_thrown|humanize_integer }}</td>
            <td colspan="6"></td>
        </tr>
    </table>

    {% if config['DEBUG'] %}
    <table class="mbs">
        <tr>
            <th>Radio calls</th>
            <td>
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/8/8e/Hud_mortar1.png/75px-Hud_mortar1.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/2/21/Hud_hesco_barrier.png/50px-Hud_hesco_barrier.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/9/9a/Hud_mortar2.png/75px-Hud_mortar2.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/9/90/Hud_paratroopers1.png/75px-Hud_paratroopers1.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/a/ac/Hud_rubber_boat.png/75px-Hud_rubber_boat.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/6/6b/Hud_buggydrop.png/75px-Hud_buggydrop.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/a/a8/Hud_artillery1.png/75px-Hud_artillery1.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/9/9d/Hud_paratroopers2.png/75px-Hud_paratroopers2.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/7/70/Hud_humveedrop.png/75px-Hud_humveedrop.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/7/7d/Hud_tank.png/75px-Hud_tank.png">
                <img src="https://runningwithrifles.gamepedia.com/media/runningwithrifles.gamepedia.com/thumb/8/80/Hud_artillery2.png/75px-Hud_artillery2.png">
            </td>
        </tr>
        <tr>
            <th>Weapons</th>
            <td>

            </td>
        </tr>
        <tr>
            <th>Equipment</th>
            <td>

            </td>
        </tr>
        <tr>
            <th>Throwables</th>
            <td>

            </td>
        </tr>
    </table>
    {% endif %}

    <div class="small txtcenter">Stats only concerns official invasion (ranked) servers which are tagged with a <i class="fa fa-star txtyellow"></i></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        friendsFeature.player = '{{ player.username }}';
        friendsFeature.initOnPlayerStats();
    </script>
{% endblock %}