{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block meta_title %}Servers{% endblock %}

{% block content %}
    <h2><i class="fa fa-server"></i> Servers</h2>

    {% if servers %}
        <table class="striped clickable mbn">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Currents players</th>
                    <th>Max players</th>
                    <th>Map</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr onclick="window.location.href = '{{ url_for('server_details', ip_and_port=server.ip_and_port) }}';">
                        <td>{{ macros.location(server.location) }} {{ macros.server_name(server) }}</td>
                        <td class="{{ macros.server_slots_class(server) }}">{{ server.players.current }}</td>
                        <td>{{ server.players.max }}</td>
                        <td>{{ macros.map_name(server.map) }}</td>
                        <td class="txtcenter">
                            {{ macros.server_join_button(server) }}

                            <a href="{{ url_for('server_details', ip_and_port=server.ip_and_port) }}" class="btn" title="Details"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert info pas">Whoops, there isn't any server to display. That's not normal.</p>
    {% endif %}

    <p class="txtcenter">
        <a href="{{ url_for('home') }}" class="btn"><i class="fa fa-user"></i> Search for a player</a>
    </p>
{% endblock %}