{% extends 'layout.html' %}

{% block meta_title %}Servers{% endblock %}

{% block content %}
    <h2><i class="fa fa-server"></i> Servers</h2>

    {% if servers %}
        <table class="striped clickable mbn">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Currents players</th>
                    <th>Max players</th>
                    <th>Map</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr onclick="window.location.href = '{{ url_for('server_details', ip_and_port=server.ip_and_port) }}';">
                        <td>
                            {% if server.location.country_code %}
                                <i class="flag flag-{{ server.location.country_code }}" title="{{ server.location.country_name }}"></i>
                            {% endif %}
                            {% if server.website %}
                                <a href="{{ server.website }}">
                            {% endif %}
                                {{ server.name }}
                            {% if server.website %}
                                </a>
                            {% endif %}
                            {% if server.is_official %}
                                <i class="fa fa-star" title="Official server"></i>
                            {% endif %}
                        </td>
                        <td class="{{ 'txtorange' if server.players.free in (1, 2) else 'txtred' if server.players.free == 0 else '' }}">{{ server.players.current }}</td>
                        <td>{{ server.players.max }}</td>
                        <td>
                            {% if server.map.name %}
                                {% if server.map.is_official %}
                                    <a href="https://runningwithrifles.gamepedia.com/Special:Search/{{ server.map.name }}">
                                {% endif %}
                                    {{ server.map.name }}
                                {% if server.map.is_official %}
                                    </a>
                                {% endif %}
                            {% else %}
                                {{ server.map.id }}
                            {% endif %}
                        </td>
                        <td class="txtcenter">
                            <a href="{{ server.steam_join_link }}" class="btn"><i class="fa fa-steam"></i> Join</a>
                            <a href="{{ url_for('server_details', ip_and_port=server.ip_and_port) }}" class="btn" title="Details"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert info pas">Whoops, there isn't any server to display. That's not normal.</p>
    {% endif %}

    <p class="txtcenter">
        <a href="{{ url_for('home') }}" class="btn"><i class="fa fa-user"></i> Search for a player</a>
    </p>
{% endblock %}