{% import 'macros.html' as macros %}

{% extends 'layout.html' %}

{% block page_title %}<h2><i class="fa fa-server"></i> Servers › {{ macros.server_name(server, False) }}</h2>{% endblock %}

{% block meta_title %}Servers › {% if server.is_ranked %}★ {% endif %}{{ server.name }}{% endblock %}

{% block content %}
    <p class="txtcenter mbs">
        {{ macros.server_join_button(server) }}

        {% if server.website %}
            <a href="{{ server.website }}" class="btn"><i class="fa fa-external-link"></i> Server's website</a>
        {% endif %}
    </p>

    <div class="grid has-gutter">
        <div class="two-thirds">
            <table class="mbs">
                <tr>
                    <th>IP</th>
                    <td>{{ server.ip }}</td>
                    <th>Port</th>
                    <td>{{ server.port }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ server.type_name }}</td>
                    <th>Mode</th>
                    <td>{{ server.mode_name }}</td>
                </tr>
                <tr>
                    <th>Current players</th>
                    <td class="{{ macros.server_slots_class(server) }}">{{ server.players.current }}</td>
                    <th>Max players</th>
                    <td>{{ server.players.max }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ macros.location(server.location, True, True) }}</td>
                    <th>Version</th>
                    <td>{{ server.version }}</td>
                </tr>
                <tr>
                    <th>Bots</th>
                    <td>{{ server.bots }}</td>
                    <th>Dedicated</th>
                    <td>{{ 'Yes' if server.is_dedicated else 'No' }}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td colspan="4">{{ server.comment }}</td>
                </td>
            </table>

            <table class="{{ 'striped' if server.players.list else '' }} mbn players-list">
                <thead>
                    <tr>
                        <th>Players list</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in server.players.list %}
                        <tr data-username="{{ player }}">
                            <td>
                                <div class="actions-disabled fr">
                                    <a href="#" title="Add {{ player }} to friends list" class="add-friend is-hidden"><i class="fa fa-user-plus"></i></a>
                                    <a href="#" title="Remove {{ player }} from friends list" class="remove-friend is-hidden"><i class="fa fa-user-times"></i></a>
                                </div>

                                {{ macros.player_name(player, raw=True, link=True) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                <div class="alert info pas">Nobody currently playing.</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="txtcenter">
                <a href="{{ url_for('servers_list') }}" class="btn"><i class="fa fa-chevron-left"></i> Back to the servers list</a>
            </p>
        </div>
        <div class="one-third">
            <table class="mbs">
                <tr>
                    <th class="txtcenter">Current map</th>
                </tr>
                <tr>
                    <td class="txtcenter">{{ macros.map_name(server.map) }}</td>
                </tr>
                {% if server.map.has_images %}
                    <tr>
                        <td class="txtcenter">
                            <img src="{{ url_for('static', filename='images/maps/preview/{game_type}/{map_id}.png'.format(game_type=server.type, map_id=server.map.id)) }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="txtcenter">
                            <a href="{{ url_for('static', filename='images/maps/minimap/{game_type}/{map_id}.png'.format(game_type=server.type, map_id=server.map.id)) }}"><img src="{{ url_for('static', filename='images/maps/minimap/{game_type}/{map_id}_thumb.png'.format(game_type=server.type, map_id=server.map.id)) }}"></a>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <table class="mbn">
                <tr>
                    <th class="txtcenter">Players</th>
                </tr>
                <tr>
                    <td class="txtcenter">
                        Past: <a href="">Day</a> | <a href="">Week</a> | <a href="">Month</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="server-players-chart" class="chart"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script src="https://unpkg.com/frappe-charts@0.0.3/dist/frappe-charts.min.iife.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        friendsFeature.all_players = {{ all_players|tojson }};
        friendsFeature.players = {{ server.players.list|tojson }};
        friendsFeature.initOnServerDetails();

        playersChartsFeature.data = {
            labels: [
                1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
                1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
                1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
                1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
                2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016
            ],
            datasets: [
                {
                    'values': [132.9, 150.0, 149.4, 148.0,  94.4,  97.6,  54.1,  49.2,  22.5, 18.4,
                        39.3, 131.0, 220.1, 218.9, 198.9, 162.4,  91.0,  60.5,  20.6,  14.8,
                        33.9, 123.0, 211.1, 191.8, 203.3, 133.0,  76.1,  44.9,  25.1,  11.6,
                        28.9,  88.3, 136.3, 173.9, 170.4, 163.6,  99.3,  65.3,  45.8,  24.7,
                        12.6,   4.2,   4.8,  24.9,  80.8,  84.5,  94.0, 113.3,  69.8,  39.8]
                }
            ]
        };
        playersChartsFeature.initOnServerDetails();
    </script>
{% endblock %}