{% extends 'layout.html' %}
{%- import 'macros.html' as macros -%}

{% set page_icon = 'fas fa-trash' %}

{% set html_title = 'Delete ' + macros.player_name(rwr_account.username, raw=True, database=rwr_account.database) %}

{% set meta_title = 'Delete ' + rwr_account.username %}

{% block jsfiles %}
    {% assets 'js_rwr_account_deletion' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="txtcenter mts mbs">
        <p class="txtred big u-bold">Unexpected bad things will happen if you don't read this!</p>

        <p>You are about to <strong>permanently delete</strong> your <strong>{{ rwr_account.type_display }}</strong> RWR account <strong class="keep-spaces">{{ rwr_account.username }}</strong>.</p>

        <p>It has been played for <strong class="{{ 'txtred' if player.time_played >= 300 }}">{{ player.time_played|humanize_seconds_to_hours }}</strong> and has <strong class="{{ 'txtred' if player.xp >= 2000 }}">{{ player.xp_display }} XP</strong>.</p>

        <p>It will be <strong>deleted forever</strong> not only from RWRS <strong><u>but also from official {{ rwr_account.type_display }} game servers</u></strong>.</p>

        <p>This action <strong>cannot</strong> be undone. Once you delete an account, there is no going back.</p>

        <p>Type <strong class="keep-spaces">{{ rwr_account.username }}</strong> to confirm:</p>
    </div>

    <form method="post" action="{{ url_for('delete_rwr_account', rwr_account_id=rwr_account.id) }}" id="rwr-account-deletion-form">
        {{ form.csrf_token }}

        <fieldset class="pam">
            {{ macros.form_field(form.username_confirmation) }}

            <p class="mtm txtcenter"><a href="{{ current_user.link }}" class="btn">Cancel</a> <button type="submit" id="rwr-account-deletion-form-submit">I understand the consequences, delete this account</button></p>
        </fieldset>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            rwrAccountDeletion.init();
        });
    </script>
{% endblock %}