{% extends 'layout.html' %}

{% set page_icon = 'fas fa-users' %}

{% set title = 'My friends' %}

{% block jsfiles %}
    {%- if current_user.friends_ordered_by_username -%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.min.js"></script>
        {% assets 'js_popovers' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {%- endif -%}
{% endblock %}

{% block cssfiles %}
    {%- if current_user.friends_ordered_by_username -%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.css">
    {%- endif -%}
{% endblock %}

{% block content %}
    <form action="{{ url_for('my_friends') }}" method="POST" class="mts mbs">
        <fieldset class="man">
            <legend><i class="fas fa-cogs"></i> Actions</legend>

            {{ macros.form_errors(form) }}

            {{ form.csrf_token }}

            {{ macros.inline_form_field(form.username, class='w200p', placeholder='Type a player name', without_label=True, maxlength=16) }} <button type="submit"><i class="fas fa-user-plus"></i> Add new friend</button>
        </fieldset>
    </form>

    {%- if current_user.friends_ordered_by_username -%}
        {% set playing_friends, non_playing_friends = current_user.friends_divided_by_status %}

        {{ macros.friends_list(playing_friends)}}
        {{ macros.friends_list(non_playing_friends)}}
    {%- else -%}
        <div class="alert info pas mbs txtcenter"><img src="{{ url_for('static', filename='images/forever_alone.png') }}"><br />You don't have friends at this moment.</div>
    {%- endif -%}

    {{ macros.stats_notice() }}

    <script>
        {%- if current_user.friends_ordered_by_username -%}
            popoversFeature.initOnMyFriends();
        {%- endif -%}
    </script>
{% endblock %}