{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-users"></i> My friends</h1>{% endblock %}

{% block meta_title %}My friends{% endblock %}

{% block meta_description %}Manage and view your Running With Rifles (RWR) friends.{% endblock %}

{% block jsfiles %}
    {%- if current_user.ordered_friends -%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.1/tippy.min.js"></script>
        {% assets 'js_popovers' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {%- endif -%}
{% endblock %}

{% block content %}
    {%- if not current_user.is_authenticated -%}
        <div class="alert info pas mtl mbl">
            <h4 class="mbs"><i class="fas fa-info-circle"></i> Important notice</h4>
            <p>The friends list evolved and now requires an RWRS account. This change has been made so you'll have access to your friends list everywhere (and not only on the web browser you used to save your friends).</p>
            <p>Don't worry, you didn't lost anything. All you have to do is to <a href="{{ url_for('sign_in') }}">sign-in</a> using your Steam account, then import your old friends list into your account by going back to this page.</p>
        </div>
    {%- else -%}
        <form action="{{ url_for('my_friends') }}" method="POST" class="mts mbs">
            <fieldset class="man">
                <legend><i class="fas fa-cogs"></i> Actions</legend>

                {{ form.csrf_token }}

                {{ macros.inline_form_field(form.username, class='w200p', placeholder='Type a player name', without_label=True, maxlength=16) }} <button type="submit"><i class="fas fa-user-plus"></i> Add new friend</button>
            </fieldset>
        </form>

        {%- if current_user.ordered_friends -%}
            <div class="grid-3 has-gutter friends-list">
                {%- for friend in current_user.ordered_friends -%}
                    <div class="mbs pas{{ ' playing' if friend.playing_on_server }}">
                        <div class="actions fr">
                            {% if friend.playing_on_server.is_ranked %}<a href="{{ url_for('players_list', database=friend.playing_on_server.database, target=friend.username) }}" title="Highlight in {{ friend.playing_on_server.database_name }} leaderboard"><i class="fas fa-list-ol"></i></a> {% endif %}
                            {%- if friend.playing_on_server -%}{% if friend.playing_on_server.players.free > 0 %}<a href="{{ friend.playing_on_server.steam_join_link }}" title="Join this server"><i class="fab fa-steam-symbol"></i></a>{% else %}<i class="fab fa-steam-symbol txtgrey help" title="Server is full, cannot join"></i>{% endif %}{% endif %}
                            <a href="{{ url_for('remove_friend', username=friend.username) }}" title="Remove friend"><i class="fas fa-user-times"></i></a>
                        </div>
                        <div class="{{ 'pbs' if friend.playing_on_server }}">{{ macros.player_name(friend.username, raw=True, link=True, database=friend.database, popover_url=True) }}</div>
                        {%- if friend.playing_on_server -%}
                            <div class="small">{{ macros.location(friend.playing_on_server.location) }} {{ macros.server_name(friend.playing_on_server, event_icon=True, server_details_link=True) }}</div>
                            <div class="small"><strong><span class="{{ macros.server_slots_class(friend.playing_on_server) }}">{{ friend.playing_on_server.players.current }}</span>/{{ friend.playing_on_server.players.max }}</strong> players on <strong>{{ friend.playing_on_server.map.name_display }}</strong> ({{ friend.playing_on_server.type_name }})</div>
                        {%- endif -%}
                    </div>
                {%- endfor -%}
            </div>
        {%- else -%}
            <div class="alert info pas mbs txtcenter"><img src="{{ url_for('static', filename='images/forever_alone.png') }}"><br />You don't have friends at this moment.</div>
        {%- endif -%}

        {{ macros.stats_notice() }}

        {%- if current_user.ordered_friends -%}
            <script>
                popoversFeature.initOnMyFriends();
            </script>
        {%- endif -%}
    {%- endif -%}
{% endblock %}