{% extends 'layout.html' %}

{% set page_icon = 'fas fa-user-circle' %}

{% set title = user.username + ' profile' %}

{% block meta_description %}{{ user.username }} profile on RWRS.{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.min.js"></script>
    {% assets 'js_popovers' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.1.3/tippy.css">
{% endblock %}

{% set canonical_url = user.link_absolute %}

{% set meta_image = user.large_avatar_url if user.large_avatar_url else user.small_avatar_url if user.small_avatar_url %}

{% block content %}
    {%- if current_user.is_authenticated and user.id == current_user.id and not current_user.is_profile_public -%}
        <div class="alert info pas mtm"><i class="fas fa-lock"></i> Your RWRS account is set as private. To change this, head to <a href="{{ url_for('user_settings') }}#general">your settings page</a>.</div>
    {%- endif -%}

    <div class="grid has-gutter mtm">
        <div class="one-fifth">
            <table class="mtn mbn">
                {%- if user.large_avatar_url -%}
                    <tr>
                        <td class="txtcenter"><img src="{{ user.large_avatar_url }}" title="{{ user.username }}'s avatar"></td>
                    </tr>
                {%- endif -%}
                {%- if user.country_code -%}
                <tr>
                    <td class="txtcenter"><i class="flag flag-{{ user.country_code }}" title="{{ user.country_name }}"></i> {{ user.country_name }}</td>
                </tr>
                {%- endif -%}
                <tr>
                    <td class="txtcenter">Registered {{ user.created_at.humanize() }}</td>
                </tr>
            </table>
            <div class="txtcenter pts">
                <a href="{{ user.steam_profile_url }}" class="btn"><i class="fas fa-external-link-alt"></i> Steam profile</a>
            </div>
        </div>
        <div class="four-fifth">
            <div class="grid has-gutter">
    	        {%- for database, database_info in PLAYERS_LIST_DATABASES.items() -%}
    	            {%- set rwr_accounts_by_type = user.get_rwr_accounts_by_type(database) -%}
                    <div>
                        <table class="mbs {{ 'striped' if rwr_accounts_by_type }} rwr-accounts-list">
                            <thead>
                                <tr>
                                    <th>RWR {{ database_info.name }} accounts</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- for rwr_account in rwr_accounts_by_type -%}
                                    <tr>
                                        <td><a href="{{ rwr_account.link }}">{{ macros.player_name(rwr_account.username, raw=True, link=True, database=database, popover_url=True) }}</a></td>
                                    </tr>
                                {%- else -%}
                                    <tr>
                                        <td><div class="alert info pas txtcenter">None at this moment.</div></td>
                                    </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    </div>
    	        {%- endfor -%}
            </div>
        </div>
    </div>

    <script>
        popoversFeature.initOnUserProfile();
    </script>
{% endblock %}