{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-user-circle"></i> Users › {{ user.steam_username }}</h1>{% endblock %}

{% block meta_title %}Users › {{ user.steam_username }}{% endblock %}

{% block meta_description %}{{ user.steam_username }} profile on RWRS.{% endblock %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = url_for('user_profile', user_id=user.id, _external=True) %}

{% block content %}
    <div class="grid mts has-gutter">
        <div class="one-fifth">
            <img src="{{ user.large_avatar_url }}" class="bordered">
        </div>
        <div class="two-fifth">
            <table class="{{ 'striped' if user.invasion_rwr_accounts }}">
                <thead>
                    <tr>
                        <th>RWR Invasion accounts</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for invasion_rwr_account in user.invasion_rwr_accounts -%}
                        <tr>
                            <td><a href="{{ invasion_rwr_account.link }}">{{ invasion_rwr_account.username }}</a></td>
                        </tr>
                    {%- else -%}
                        <tr>
                            <td><div class="alert info pas txtcenter">Nothing to display.</div></td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
        <div class="two-fifth">
            <table class="{{ 'striped' if user.pacific_rwr_accounts }}">
                <thead>
                    <tr>
                        <th>RWR Pacific accounts</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for pacific_rwr_account in user.pacific_rwr_accounts -%}
                        <tr>
                            <td><a href="{{ pacific_rwr_account.link }}">{{ pacific_rwr_account.username }}</a></td>
                        </tr>
                    {%- else -%}
                        <tr>
                            <td><div class="alert info pas txtcenter">Nothing to display.</div></td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}