{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-user-circle"></i> Users › {{ user.username }}{% if user.country_code %} <i class="flag flag-{{ user.country_code }}" title="{{ user.country_name }}"></i>{% endif %}</h1>{% endblock %}

{% block meta_title %}Users › {{ user.username }}{% endblock %}

{% block meta_description %}{{ user.username }} profile on RWRS.{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% set canonical_url = user.link_absolute %}

{% block content %}
    {%- if current_user.is_authenticated and user.id == current_user.id and not current_user.is_profile_public -%}
        <div class="alert info pas mts"><i class="fas fa-lock"></i> Your RWRS user profile is set as private, respecting your Steam settings.</div>
    {%- endif -%}

    <div class="grid mts has-gutter">
        {%- if user.large_avatar_url -%}
            <div class="one-fifth">
                <img src="{{ user.large_avatar_url }}" class="bordered">
            </div>
        {%- endif -%}

        {%- for database, database_info in PLAYERS_LIST_DATABASES.items() -%}
            {%- set rwr_accounts_by_type = user.get_rwr_accounts_by_type(database) -%}
            <div class="{{ 'two-fifth' if user.large_avatar_url else 'one-half' }}">
                <table class="{{ 'striped' if rwr_accounts_by_type }}">
                    <thead>
                        <tr>
                            <th>RWR {{ database_info.name }} accounts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for rwr_account in rwr_accounts_by_type -%}
                            <tr>
                                <td><a href="{{ rwr_account.link }}">{{ rwr_account.username }}</a></td>
                            </tr>
                        {%- else -%}
                            <tr>
                                <td><div class="alert info pas txtcenter">Nothing to display.</div></td>
                            </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
            </div>
        {%- endfor -%}
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}