{% extends 'layout.html' %}

{% set page_icon = 'fas fa-cog' %}

{% set title = 'Settings' %}

{% block jsfiles %}
    {% assets 'js_regenerate_pat' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="grid has-gutter mts">
        <div>
            <table class="mbn">
                <tbody>
                    <tr>
                        <th class="txtcenter" id="general">General settings</th>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" action="{{ url_for('user_settings') }}">
                                {{ form.csrf_token }}

                                {{ macros.form_field(form.is_profile_public) }}

                                <div class="small txtgrey">Unchecking this box will makes your RWRS account completely invisible across the RWRS ecosystem. Nobody will ever know you own a given RWR account. You'll be the sole able to access your RWRS profile.</div>

                                <p class="txtcenter mtm"><button type="submit">Save</button></p>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="mbn">
                <tbody>
                    <tr>
                        <th class="txtcenter" id="pat">Personal Access Token</th>
                    </tr>
                    <tr>
                        <td>
                            <p>This is the token that must be used to access the <a href="{{ url_for('static', filename='api_doc.html') }}">RWRS REST API</a>. <strong>This token is personal.</strong> Be careful when sharing with third-party applications.</p>

                            {%- if current_user.is_forbidden_to_access_api -%}
                                <div class="alert error pas mts">You have been forbidden to access the RWRS REST API.</div>
                            {%- else -%}
                                <div class="txtcenter mts"><input type="text" readonly spellcheck="false" value="{{ current_user.pat if current_user.pat else 'Click the button to generate one 👉' }}" class="w300p copypaste txtcenter pat" onClick="this.setSelectionRange(0, this.value.length)"> <button class="regenerate-pat" title="Generate a new Personal Access Token"><i class="fas fa-sync"></i></button></div>
                            {%- endif -%}
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            regeneratePat.endpoint = '{{ url_for('regenerate_pat') }}';
            regeneratePat.init();
        });
    </script>
{% endblock %}