{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-cog"></i> Settings</h1>{% endblock %}

{% block meta_title %}Settings{% endblock %}

{% block jsfiles %}
    {% assets 'js_friends_regenerate_pat' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="grid has-gutter mts">
        <div>
            <table class="mbn">
                <tbody>
                    <tr>
                        <th class="txtcenter" id="general">General settings</th>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" action="{{ url_for('user_settings') }}">
                                {{ form.csrf_token }}

                                {{ macros.form_field(form.is_profile_public) }}

                                <p class="txtcenter mtm"><button type="submit">Save</button></p>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="mbn">
                <tbody>
                    <tr>
                        <th class="txtcenter" id="pat">Personal Access Token</th>
                    </tr>
                    <tr>
                        <td>
                            <p>This is the token that must be used to access the <a href="{{ url_for('static', filename='/api_doc.html') }}">RWRS REST API</a>. <strong>This token is personal.</strong> Be careful when sharing with third-party applications.</p>

                            <div class="txtcenter mts"><input type="text" readonly spellcheck="false" value="{{ current_user.pat if current_user.pat else 'Click the button to generate one 👉' }}" class="w300p copypaste txtcenter pat" onClick="this.setSelectionRange(0, this.value.length)"> <button class="regenerate-pat" title="Generate a new Personal Access Token"><i class="fas fa-sync"></i></button></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();

        regeneratePat.endpoint = '{{ url_for('regenerate_pat') }}';
        regeneratePat.init();
    </script>
{% endblock %}