{% extends 'layout.html' %}

{% block page_title %}<h1><i class="fas fa-sign-out-alt"></i> Sign in</h1>{% endblock %}

{% block meta_title %}Sign in{% endblock %}

{% block content %}
    <p class="txtcenter mtm mbm"><strong>Sign in into RWRS and access additional features.</strong></p>
    <p class="txtcenter">RWRS will not be aware of your password at all.<br>Cookies will be used to keep your session active.<br>Data needed for the proper RWRS functioning will be fetch from your Steam account.</p>

    <p class="txtcenter mtm"><a href="{{ url_for('sign_in_redirect') }}"><img src="{{ url_for('static', filename='images/steam_openid.png') }}"></a></p>

    <script>
        friendsFeature.all_players_with_servers_details = {{ g.all_players_with_servers_details|tojson }};
        friendsFeature.init();
    </script>
{% endblock %}